<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recorded.infra.checkout.CheckOutDao">

    <resultMap id="resultMapObj" type="com.recorded.infra.checkout.CheckOutDto"></resultMap>

	<!-- orders select -->
	<select id="orderList">
		select
			orderSeq
			, orderStatus
			, RefundNY
			, OrderDate
			, CardNo
			, CVV
			, CardDate
			, CardOwner
			, paymentCD
			, cardCompCD
			, MemberSeq
            , productOrderedSeqF
		from orders
	</select>
	<!-- ordered Product select -->
	<select id="orderedProduct">
		
	</select>
	<!-- orders insert -->
	
	<!-- 주문한 상품 정보 insert -->
  
</mapper>