<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recorded.infra.checkout.CheckOutDao">

    <resultMap id="resultMapObj" type="com.recorded.infra.checkout.CheckOutDto"></resultMap>

<!-- orders select -->

<!-- ordered Product select -->

<!-- orders insert -->

<!-- 주문한 상품 정보 insert -->
  


<insert id="insertOrders">
	insert into orders (
		orderStatus
		,totalOrgPrice
		,totalPrice
		,OrderDate
		,CardNo
		,CVV
		,CardDate
		,CardOwner
		,orderTrackingNo
		,paymentCD
		,cardCompCD
		,ProductSeq
		,MemberSeq
		) values (
		#{orderStatus}
		,#{totalOrgPrice}
		,#{totalPrice}
		,#{OrderDate}
		,COALESCE(#{CardNo}, '')
	    ,COALESCE(#{CVV}, '')
	    ,COALESCE(#{CardDate}, '2024-04-30')
	    ,COALESCE(#{CardOwner}, '')
		,#{orderTrackingNo}
		,#{paymentCD}
		,#{cardCompCD}
		,#{ProductSeq}
		,#{MemberSeq}
		)
</insert>

<insert id="insertOrderedProd">
	insert into productOrdered (
		productSeq
		,productName
		,ea
		,OrgPrice
		,DiscountedPrice
		,size
		,color
		,orderSeq
		,memberSeq
		) values (
		#{productSeq}
		,#{ProductName}
		,#{ea}
		,#{OrgPrice}
		,#{DiscountedPrice}
		,#{size}
		,#{color}
		,#{orderSeq}
		,#{memberSeq}
</insert>

</mapper>