<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recorded.infra.code.CodeDao">

    <resultMap id="resultMapObj" type="com.recorded.infra.code.CodeDto"></resultMap>

    <!-- Select Paged Code List -->
    <select id="selectPagedCodeList" resultMap="resultMapObj">
        <!-- Common SQL -->
        <include refid="selectCommon"/>
        FROM CodeGroup a
        LEFT JOIN code b ON a.CodeGroupSeq = b.CodeGroupSeq
        <choose>
            <when test="shOption == 1">
                AND b.seq = #{shValue}
            </when>
            <when test="shOption == 2">
                AND a.name LIKE CONCAT('%',#{shValue},'%')
            </when>
        </choose>
        <!-- Pagination -->
        limit #{rowNumToShow} offset #{startRnumForMysql}
    </select>

    <!-- Select One -->
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
        a.delNY,
        a.seq,
        a.name,
        a.modDateTime,
        a.CodeGroupSeq
        FROM code a
        WHERE 1=1
        AND a.seq=#{seq}
    </select>

    <!-- Select Cached Code ArrayList -->
    <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
        SELECT
        seq,
        name,
        CodeGroupSeq
        FROM
        code
        WHERE 1=1
        AND DelNY = 0
    </select>

    <!-- Insert -->
    <insert id="insert">
        INSERT INTO code (
        name,
        delNY,
        CodeGroupSeq
        ) VALUES (
        #{name},
        #{delNY},
        #{CodeGroupSeq})
    </insert>

    <!-- Update -->
    <update id="update">
        UPDATE code
        SET name = #{name}
        WHERE 1=1
        AND seq = #{seq}
    </update>

    <!-- Delete -->
    <update id="delete">
        UPDATE code
        SET delNY=1
        WHERE 1=1
        AND seq = #{seq}
    </update>

    <!-- Get Total Code Count -->
    <select id="getTotalCodeCount" resultType="int">
        <!-- Common SQL -->
        <include refid="selectCommon"/>
        <!-- Count -->
        SELECT COUNT(*) FROM CodeGroup a LEFT JOIN code b ON a.seq = b.CodeGroupSeq
        <if test="shDelNy != null and shDelNy != ''">
            WHERE b.delNY = #{shDelNy}
        </if>
        <!-- Option -->
        <choose>
            <when test="shOption == 1">
                AND b.seq = #{shValue}
            </when>
            <when test="shOption == 2">
                AND a.name LIKE CONCAT('%',#{shValue},'%')
            </when>
        </choose>
    </select>

    <!-- Common SQL -->
    <sql id ="selectCommon">
        FROM code a
        left join codeGroup b 
            on b.codeGroup_seq = a.codeGroupSeq 
                and a.codeDelNy = 0
        where 1=1
        <!-- Additional conditions -->
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>
        <choose>
            <when test="shOptionDate == 1">AND a.RegDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
            <when test="shOptionDate == 2">AND a.ModDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        </choose>
        <!-- Options -->
        <choose> 
            <when test="shOption == 1">AND b.codeGroupSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.codeSeq = #{shValue}</when>
            <when test="shOption == 4">AND a.codeName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.codeMemo LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
</mapper>
