<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recorded.infra.codegroup.CodeGroupDao">

    <resultMap id="resultMapObj" type="com.recorded.infra.codegroup.CodeGroupDto"></resultMap>

    <!-- 공통구문 -->
    <sql id="selectCommon">
        from
        codegroup a
        WHERE 1=1

        <if test="shDelNy != null and shDelNy.equals('')">AND a.delNY = #{shDelNy}</if>

        <choose>
            <when test="shOption == 1">AND a.seq = #{shValue}</when>
            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>

    <!-- 페이징을 고려한 리스트 조회 -->
    <select id="selectList" resultMap="resultMapObj">
        select
            a.seq
            ,a.name
            ,(select count(*)
              from code aa
              where 1=1
                and aa.CodeGroupSeq = a.seq) as cdSeqCount
            ,a.delNy
            ,a.regDatetime
            ,a.modDatetime
        <include refid="selectCommon"/>
        order by a.seq
        LIMIT #{startRnumForMysql}, #{rowNumToShow}
    </select>

    <!-- total count -->
    <select id="getTotalCodeGroupCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        <include refid="selectCommon"/>
    </select>

    <!-- 코드 그룹 조회 -->
    <select id="selectOne" resultMap="resultMapObj">
        select
            delNY
            ,seq
            ,name
            ,modDateTime
        from codegroup
        where 1=1
            and seq=#{seq}
    </select>

    <!-- 코드 그룹 추가 -->
    <insert id="insert">
        insert into codegroup (delNY, name, regDatetime, modDatetime)
        values (#{delNY}, #{name}, now(), now())
    </insert>

    <!-- 코드 그룹 수정 -->
    <update id="update">
        update codegroup
        set
            name = #{name}
            ,delNY=#{delNY}
        WHERE 1=1
            and seq = #{seq}
    </update>

    <!-- 코드 그룹 삭제 -->
    <update id="updtDel">
        update codegroup
        set
            delNY=1
        where 1=1
            and seq = #{seq}
    </update>

    <!-- 코드 그룹 삭제 -->
    <delete id="delete">
        delete from codegroup
        where seq=#{seq}
    </delete>

    <!-- 코드에서 코드 그룹 불러오기 -->
    <select id="selectListWithoutPaging" resultMap="resultMapObj">
        SELECT
            a.seq
            ,a.name
        FROM codegroup a
        WHERE 1=1
            AND delNy = 0
        ORDER BY a.seq DESC
    </select>

</mapper>