<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recorded.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.recorded.infra.codegroup.CodeGroupDto"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
    
        select
			a.seq
			,a.name
			,(select count(*)
			from code aa
			where 1=1
				and	aa.CodeGroupSeq = a.seq) as cdSeqCount
			,a.delNy
			,a.regDatetime
			,a.modDatetime
			from
			codeGroup a
        WHERE 1=1
	   
	   <!-- 이게 머임?? 도대체 머임??ㅜㅜㅜㅜ -->
	        <if test="shDelNy != null and shDelNy.equals('')">AND a.delNY = #{shDelNy}</if>
	     <!--  
			<choose>
				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	 -->
	    	 <choose>
	         	 <when test="shOption == 1">AND a.seq = #{shValue}</when>
	            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
    </select>
    
    <!--  total count -->
    <!-- 
           <select id="selectOne" resultMap="resultMapObj">
       
         select
        count(*) as cgSeqCount
        from CodeGroup
        
       </select>
     -->

       
    <select id="selectOne" resultMap="resultMapObj">
    <!--  result에서 받아올 값이 여러 개 =  selectList, 하나 = selectOne -->
    
    		select
    		
    		delNY
    		, seq
    		, name
    		, modDateTime
    		
    		from CodeGroup 
    		
    		where 1=1
    			and seq=#{seq} 
    			
<!--  #{_______} = html에서 받아올 값 / 불러올 값 -->
    </select>
    
    <insert id="insert">
    
            insert into CodeGroup (name, memo)
    		values (#{name}, #{memo}) 

    </insert>
    
    <update id="update">
   	update codeGroup
   	set
   		memo=#{memo}
   		, name = #{name}
   	WHERE 1=1
   		and seq = #{seq}
  	
  	</update>
  	
  	<update id="updtDel">
  			update CodeGroup
  			set
  			delNY=1
  			where 1=1
  			and seq = #{seq}
  	</update>
  	
  	
  	<delete id="delete">
  	
  	delete from CodeGroup
  	where seq=#{seq}
  	</delete>
  	
  	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.seq
			, a.name
		FROM codeGroup a
		WHERE 1=1
			AND delNy = 0

		ORDER BY a.seq DESC
	</select>
    
</mapper>