<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recorded.infra.member.MemberDao">

	<resultMap id="resultMapObj" type="com.recorded.infra.member.MemberDto"></resultMap>

    <select id="selectList" resultMap="resultMapObj">

			select
				a.memberSeq
				, a.name
				, a.quitNY
				, a.dormantNY
				, a.ID
				, a.pwd
			    , a.genderCD
			    , a.email
			    , a.birthday
			    , a. MobileNum
			    , a. joinDate
			    , a.modDateTime
			
			from 
			    member a
			
			where 1=1
	        <if test="shDelNy != null and shDelNy.equals('')">AND a.quitNY = #{shDelNy}</if>
	      
			<choose>
				<when test="shOptionDate == 1">AND a.joinDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose> 

	    	 <choose>
	         	 <when test="shOption == 1">AND a.memberSeq = #{shValue}</when>
	         	 <when test="shOption==2"> AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>

    </select>
	  
	      <select id="selectOne" resultMap="resultMapObj">
    
    		select
    		
				a.memberSeq
				, a.name
				, a.quitNY
				, a.dormantNY
				, a.ID
				, a.pwd
			    , a.genderCD
			    , a.email
			    , a.birthday
			    , a. MobileNum
			    , a. joinDate
			    , a.modDateTime
    		
    		from member  a
    		
    		where 1=1
    			and a.memberSeq=#{memberSeq} 
    			
    </select>
    
<insert id="insert">
    insert into member (
        name
        , quitNY
        , dormantNY
        , ID
        , pwd
        , genderCD
        , email
        , birthday
        , MobileNum
        , joinDate
        ,modDateTime
    ) values (
        #{name}
        , #{quitNY}
        , #{dormantNY}
        , #{ID}
        , #{pwd}
        , #{genderCD}
        , #{email}
        , #{birthday}
        , #{MobileNum}
        , NOW()  <!-- MySQL에서 현재 시간을 가져오는 함수 -->
        , NOW()
    )
</insert>


	  
	   
    <update id="update">
   	update member
   	set
   		name = #{name}
   	WHERE 1=1
   		and memberSeq = #{memberSeq}
  	
  	</update>
  	
  	<update id="uelete">
  			update member
  			set
  			quitNY=1
  			where 1=1
  			and memberSeq = #{memberSeq}
  	</update>
  	
  	
  	<delete id="delete">
  	
  	delete from member
  	where 1=1 
  	and memberSeq=#{memberSeq}
  	</delete>
	  
	  <!-- 페이징 -->
	  <!-- Total count -->
		 <select id="getTotalMemberCount" resultType="int">
	    SELECT COUNT(*) FROM member a 
	    
	    <if test="shDelNy != null and shDelNy != ''">
	        WHERE a.quitNY = #{shDelNy}
	    </if>
	    
	    <choose>
	    
	        <when test="shOption == 1">
	            AND a.memberSeq = #{shValue}
	        </when>
	        
	        <when test="shOption == 2">
	            AND a.name LIKE CONCAT('%',#{shValue},'%')
	        </when>
	        
	    </choose>
	</select>
	
	<!-- 페이징을 위해 DB 단에서 뿌리는 데이터 셀렉 -->
	<select id="selectPagedMemberList" resultMap="resultMapObj">
	
	    SELECT
				a.memberSeq
				, a.name
				, a.quitNY
				, a.dormantNY
				, a.ID
				, a.pwd
			    , a.genderCD
			    , a.email
			    , a.birthday
			    , a. MobileNum
			    , a. joinDate
			    , a.modDateTime   
	    
	    FROM member a
	    
	    <if test="shDelNy != null and shDelNy != ''">
	        AND a.quitNY = #{shDelNy}
	    </if>
	    
	    <choose>
	    
	        <when test="shOption == 1">
	            AND a.memberSeq = #{shValue}
	        </when>
	        
	        <when test="shOption == 2">
	            AND a.name LIKE CONCAT('%',#{shValue},'%')
	        </when>
	        
	    </choose>
	    LIMIT #{start}, #{pageSize}
	</select>

	
	<!-- select 공통 구문 SQL -->
	<sql id ="selectCommon">
		FROM member a

				and a.quitNY = 0
		where 1=1
		<!-- 추가, 사용여부 사용시 진행 필요 건 -->
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.quitNY = #{shDelNy}</if>
			  
		<choose>
			<when test="shOptionDate == 1">AND a.joinDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
			
		<choose> 
            <when test="shOption == 3">AND a.memberSeq = #{shValue}</when>
            <when test="shOption == 4">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
   		</choose>
	
	</sql>
	
	 <!-- 페이지네이션 관련 base mapper 쿼리-->
	<sql id="selectListUpperForMysql">
		select aa.* from (
	</sql>
	
	
	<sql id="selectListLowerForMysql">	
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>
	
	<!-- 로그인 관련 매퍼 쿼리 -->
<select id="selectOneById" resultMap="resultMapObj">
    SELECT
        memberSeq,
        name,
        quitNY,
        dormantNY,
        ID,
        pwd,
        genderCD,
        email,
        birthday,
        MobileNum,
        joinDate,
        modDateTime
    FROM
        member
    WHERE
        ID = #{ID}
</select>

</mapper>