<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recorded.infra.mix.MixDao">

	<resultMap id="resultMapObj" type="com.recorded.infra.mix.MixDto"></resultMap>
	
	<!-- 주문 정보 관련 매퍼 - member, product, order 조인 -->
<select id="orderList" resultMap="resultMapObj">
    SELECT
       <!-- a.orders -->
        a.orderSeq,
        a.orderStatus,
        a.RefundNY,
        a.OrderDate,
        a.CardNo,
        a.CVV,
        a.CardOwner,
        a.paymentCD,
        a.cardCompCD,
        a.MemberSeq,
        a.CardDate,
        <!-- b.member -->
        b.memberSeq,
        b.name,
        b.email,
        b.MobileNum,
        <!-- po.productOrdered (subquery) -->
        po.totalPrice,
        <!-- Additional subqueries -->
        (SELECT SUM(OrgPrice) FROM productOrdered WHERE ordersSeqF = a.orderSeq) AS totalOrgPrice,
        (SELECT SUM(OrgPrice - DiscountedPrice) FROM productOrdered WHERE ordersSeqF = a.orderSeq) AS totalDiscountedPrice,
        <!-- c.address -->
        c.recipient,
        c.zipcode,
        c.addr,
        c.addrDetail,
        c.phoneNum,
        c.shippingMsg,
        c.Member_seq
        
    FROM 
        orders a
    INNER JOIN 
        member b ON a.MemberSeq = b.memberSeq
    LEFT JOIN
        (SELECT 
             ordersSeqF,
             SUM(DiscountedPrice) AS totalPrice
         FROM 
             productOrdered
         GROUP BY 
             ordersSeqF) po ON a.orderSeq = po.ordersSeqF
    LEFT JOIN
        address c
    ON
        a.MemberSeq = c.Member_seq
    WHERE 
        1=1
        AND a.orderSeq IS NOT NULL
</select>

<select id="selectOrder" resultMap="resultMapObj">
    SELECT
       <!-- a.orders -->
        a.orderSeq,
        a.orderStatus,
        a.RefundNY,
        a.OrderDate,
        a.CardNo,
        a.CVV,
        a.CardOwner,
        a.paymentCD,
        a.cardCompCD,
        a.MemberSeq,
        a.CardDate,
        <!-- b.member -->
        b.memberSeq,
        b.name,
        b.email,
        b.MobileNum,
        <!-- po.productOrdered (subquery) -->
        po.totalPrice,
        <!-- Additional subqueries -->
        (SELECT SUM(OrgPrice) FROM productOrdered WHERE ordersSeqF = a.orderSeq) AS totalOrgPrice,
        (SELECT SUM(OrgPrice - DiscountedPrice) FROM productOrdered WHERE ordersSeqF = a.orderSeq) AS totalDiscountedPrice,
        <!-- c.address -->
        c.recipient,
        c.zipcode,
        c.addr,
        c.addrDetail,
        c.phoneNum,
        c.shippingMsg,
        c.Member_seq
        
    FROM 
        orders a
    INNER JOIN 
        member b ON a.MemberSeq = b.memberSeq
    LEFT JOIN
        (SELECT 
             ordersSeqF,
             SUM(DiscountedPrice) AS totalPrice
         FROM 
             productOrdered
         GROUP BY 
             ordersSeqF) po ON a.orderSeq = po.ordersSeqF
    LEFT JOIN
        address c
    ON
        a.MemberSeq = c.Member_seq
    WHERE 
        1=1
        AND a.orderSeq = ${orderSeq}
</select>

	
	<select id="productOrdered" resultMap="resultMapObj">
		select
			a.orderSeq,
			b.productSeqF,
			b.ea,
			b.OrgPrice,
			b.DiscountedPrice,
			b.size,
			b.color,
			b.ordersSeqF,
			b.productOrderedSeq,
			c.productSeq,
			c.ProductName,
			d.path
			
			from
				orders a
			inner join
				productOrdered b
				on
					a.orderSeq = b.ordersSeqF
			inner join
				product c
				on
					b.productSeqF = c.productSeq
			inner join
				prodImg d
				on
					b.productSeqF = d.productSeqF
		where
			1=1
			and
				a.orderSeq = #{orderSeq}
	</select>
	
		<select id="memberAddr" resultMap="resultMapObj">
	    select
	    	a.memberSeq
	        ,a.ID 
	        ,a.name
	        ,b.addrTypeCD 
	        ,b.addrDetail
	        ,b.addr
	        ,b.zipcode
	        ,b.recipient
	        ,b.phoneNum
	        ,b.shippingMsg
	        ,b.defaultNY
	    from 
	        member a
	    inner join 
	        address b
	    on
	        a.memberSeq=b.Member_seq
	   
	    where 1=1

	    and a.memberSeq is not null 
	</select>
	
	<select id="checkOut" resultMap="resultMapObj">
	select
	
	</select>
	
	
</mapper>