<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/etc/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/etc/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/etc/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/etc/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/etc/css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/etc/css/magnific-popup.css">

	<link rel="stylesheet" href="/etc/css/style.css">

	<!--한글 폰트 웹 주소-->
	<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">



	<!-- Modernizr JS -->
	<script src="/etc/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- 모달 스타일 -->
	<style>
		/* The Modal (background) */
		.modal {
		  display: none; /* Hidden by default */
		  position: fixed; /* Stay in place */
		  z-index: 1; /* Sit on top */
		  left: 0;
		  top: 0;
		  width: 100%; /* Full width */
		  height: 100%; /* Full height */
		  overflow: auto; /* Enable scroll if needed */
		  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		
		/* Modal Content */
		.modal-content {
		  background-color: #fefefe;
		  width: 30%; /* 전체 가로 사이즈 중 30% 사용 */
		  margin: 15% auto; /* 상단으로부터 15% 떨어진 위치에 가운데 정렬 */
		  padding: 20px;
		  border: 1px solid #888;
		  text-align: center; /* 가로 가운데 정렬 */
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		}
		
		/* The Close Button */
		.close {
		  color: pink; /* 핑크 색상 */
		  float: right;
		  font-size: 28px;
		  font-weight: bold;
		}
		
		.close:hover,
		.close:focus {
		  color: black;
		  text-decoration: none;
		  cursor: pointer;
		}
		
		/* Modal Header */
		.modal-header {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		}
		
		/* Modal Body */
		.modal-body {
		  flex: 1; /* 바디가 남은 공간을 차지하도록 함 */
		  display: flex;
		  justify-content: center;
		  align-items: center;
		}
		
		#closeBtn {
		  background-color: #4CAF50; /* Green */
		  color: white;
		  padding: 10px 20px;
		  border: none;
		  cursor: pointer;
		}
		
		#closeBtn:hover {
		  background-color: #45a049;
		}
		a {
			text-decoration: none;
		}
	</style>
	</head>
	<body>

	<div id="colorlib-page">
		<!-- <header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="colorlib-navbar-brand">
							<a class="colorlib-logo" href="index.html"><span>No</span><span>ah</span></a>
						</div>
						<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
					</div>
				</div>
			</div>
		</header> -->
		<div id="colorlib-about">
			<div class="container">
				<div class="row">
					<div class="col-md-5 animate-box">
						<div class="indexImg">
							<div class="item">
								<img class="img-responsive about-img" src="/etc/images/dailyProf.jpeg">
<!-- 								<img class="img-responsive about-img" src="/etc/images/YerinYoo.jpg"> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-push-1 animate-box">
						<div class="about-desc">
							<div class="owl-carousel3">
								<div class="item">
									<h2><span>Yerin Yoo</span></h2>
								</div>
								<div class="item">
									<h2><span>I'm</span><span>A Full-Stack Developer</span></h2>
								</div>
							</div>
							<div class="desc" style="width : 100%">
								<div class="rotate">
									<h2 class="heading">About</h2>
								</div>
								<p>
									서비스직에 종사하던 당시 한 직원은 여러 고객을 만나지만,
									<br>고객은 오로지 한 명의 직원을 만난다는 것을 알게 되었고,
									<br>저의 응대가 기업의 이미지를 바꿀 수 있음을 깨닫게 되었습니다. 
									<br>
									<br><a href="#" onclick="return false;">프론트엔드 개발 직무</a>는 웹을 방문하는 고객이 가장 먼저 만나고, 
									<br><a href="#">웹을 통해 기업의 첫 인상을 심어준다는 면</a>이 경험했던 직무와 비슷하다고 생각합니다.
									<br>저는 이러한 업무가 굉장히 매력적이라 생각하며
									<br><a href="#">고객의 입장에서 웹을 개발하는 개발자</a>로서 
									<br>개발팀에 이바지할 수 있는 핵심 구성원이 되고 싶습니다. 
								</p>
								<div class="row">
									<div class="col-md-4">
										<p><a href="#" class="btn btn-primary btn-outline disabled">Contact Me!</a></p>
									</div>
									<div class="col-md-4">
										<p class="ContactMe">
											<a href="https://github.com/YerinYoo" target = "_blank"><img src="/etc/images/github.svg" style="height:28px; width:28px"></img></a>
											<a href="https://www.notion.so/ooyoche1s/Diary-of-Dev-c8e8d36cc44743b995e285eedb88426e?pvs=4" target="_blank"><img src="/etc/images/notion.svg" style="height:45px; width:45px"></img></a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="colorlib-work">
			<div class="container">

				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading"  style="margin-bottom: 0;">
						<span>Portfolio</span>
						<h2>Personal Project</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="rotate">
							<h2 class="heading">eCommerce</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-offset-4">
						<div class="desc">
							<p>		
							2024.03 ~ 2024.04
								<br>[me O my]라는 이름으로 <a href="#">의류 쇼핑몰 주제의 프로젝트</a>를 진행하였습니다. 
								<br>대부분의 사람들이 많이 접하는 웹 사이트의 주제이기도 하고, 
								<br>평소 관심을 많이 갖던 주제로 진행을 하고 싶었기에 선정하였습니다.
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6" style="justify-content: center;">
						<div class="work-entry animate-box">
							<a class="work-img" style="background-image: url(/etc/images/ecommerce.png);" href="/recorded" target = "_blank">
								<div class="display-t">
									<div class="work-name">
										<h2>User</h2>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="work-entry animate-box">
							<a class="work-img" style="background-image: url(/etc/images/admin.png);" href="/loginAdm" target = "_blank">
								<div class="display-t">
									<div class="work-name">
										<h2>Admin</h2>
									</div>
								</div>
							</a>
						</div>
					</div>
					<h2 style="text-align : center">Team Project</h2>

						<div class="row">
							<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading" style="margin-bottom: 0;">
								<h2>DPRO(1/2)</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="rotate">
									<h2 class="heading">SCM Management</h2>
								</div>
							</div>
						</div>
						
						<div class="row justify-content-center" style="margin-bottom : 0">
							<div class="col-md-5 col-md-offset-4">
								<div class="desc">
									<p>24.04 ~ 24.04
										<br><a href="#">입고, 출고, 발주, 일반 사용자의 구매에 대한 물류 관리 시스템</a>을 구현하였습니다.
										<br>각각의 메서드마다 CRUD 기능을 만들었으며,
										<br>member, orders 그리고 index 화면을 담당하였습니다.
										<br>
										<br>member insert할 때에 비밀번호 칼럼에 대하여
										<br>암호화 및 복호화를 구현하였으며 로그인, 로그아웃 기능을 구현하였습니다.
									</p>
								</div>
							</div>
						</div>
		
							<div class="col-md-6 " >
								<div class="work-entry animate-box" style="margin-left : 55%;">
									<a class="work-img" href="http://43.203.212.207:8089/XdmLogin" style="background-image: url(/etc/images/dpro-index.png);" target="_blank">
										<div class="display-t">
											<div class="work-name">
												<h2>Admin</h2>
											</div>
										</div>
									</a>
								</div>
							</div>
						
						<div class="row">
							<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading" style="margin-bottom: 0;">
								<h2>Soccer Community(2/2)</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="rotate">
									<h2 class="heading">Soccer Community</h2>
								</div>
							</div>
						</div>
								
						<div class="row justify-content-center" style="margin-bottom : 0">
							<div class="col-md-5 col-md-offset-4">
								<div class="desc">
									<p>2024.05 ~ 2024.06 
										<br>//아직 개발 진행 중인 프로젝트입니다!
										<br>
										<br>축구 동호회 선수 및 스탭들이 이용할 수 있는 커뮤니티를 구현하였습니다.
										<br>
										<br>축구 동호회의 경우, 축구 경기장을 예약하는 데에 어려움을 겪는다고 하여
										<br>경기장 예약 기능도 함께 구현하였습니다.
										<br>
										<br>팀 별 선수 리스트(전체, 결장 선수 등)를 조회할 수 있으며, 
										<br>경기마다 출전한 선수들의 스쿼드를 확인할 수 있습니다.
									</p>
							</div>
						</div>
				
						<div class="row">
							<div class="col-md-6" style="justify-content: center;">
								<div class="work-entry animate-box">
									<a class="work-img" style="background-image: url(/etc/images/soccer-index.png);" href="#" id="openModal1" target = "_blank">
										<div class="display-t">
											<div class="work-name">
												<h2>User</h2>
											</div>
										</div>
									</a>
								</div>
							</div>
		
							<div class="col-md-6">
								<div class="work-entry animate-box">
									<a class="work-img" style="background-image: url(/etc/images/admin.png);" href="#" id="openModal2" target = "_blank">
										<div class="display-t">
											<div class="work-name">
												<h2>Admin</h2>
											</div>
										</div>
									</a>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		
		
	
		<div id="colorlib-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="services-flex">
							<div class="one-third">
								<div class="row">
									<div class="col-md-12 col-md-offset-0 animate-box intro-heading" style="padding : 0;">
										<span>My Skills</span>
										<h2>Here Are Some of My Skills</h2>
										<p>* OS - Mac, Windows, Linux</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="rotate">
											<h2 class="heading">My Skills</h2>
										</div>
									</div>
									<div class="col-md-6">
										<div class="services animate-box">
											<h3>1 - Back End Development</h3>
											<ul>
												<li>Java</li>
												<li>Python</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>3 - Database</h3>
											<ul>
												<li>Oracle (localhost)</li>
												<li>MySQL (localhost, AWS RDS)</li>
												<li>Database Modeling (ERD)</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>5 - Licenses</h3>
											<ul>
												<li>OPIc - AL</li>
												<li>운전면허 2종 보통</li>
											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<div class="services animate-box">
											<h3>2 - Front End Development</h3>
											<ul>
												<li>HTML</li>
												<li>CSS</li>
												<li>Bootstrap</li>
												<li>JavaScript &amp; Jquery</li>
												<li>Thymeleaf</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>4 - Etc.</h3>
											<ul>
												<li>AWS(RDS, EC2, S3, CodeDeploy)</li>
												<li>Git / SourceTree</li>
												<li>Github Actions를 이용한 자동화 배포</li>
												<li>IDE - Eclipse, Spring Tool Suite 4, Visual Studio Code</li>
												<li>Adobe Photoshop</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="one-forth services-img" style="background-image: url(/etc/images/services-img-1.jpg);">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div id="footer">
			<div class="container">
					<div class="row">
						<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
							<span>Contact</span>
							<h2>Contact Me</h2>
						</div>
					</div>
				<div class="ContactMe">
					<div class="row">
						<div class="col-md-12">
							<div class="rotate">
								<h2 class="heading">Contact</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-md-offset-0" >
							<div class="row">
								<div class="col-md-6 animate-box" >
									<h3 style="text-align : left">My Address</h3>
									<ul class="contact-info">
										<li style="width : 500px;"><span><i class="icon-phone4"></i></span>+82 10-4951-5254</li>
										<li><span><i class="icon-envelope2"></i></span><a href="#">ooyo.che1s@gmail.com</a></li>
										<li><span><i class="icon-globe3"></i></span><a href="#">https://github.com/YerinYoo</a></li>
									</ul>
								</div>
							</div>
					</div>
			</div>
		</div>
	</footer>
	
	<!-- Modal Structure -->
	<div id="myModal" class="modal">
	  <div class="modal-content">
	    <div class="modal-header">
	      <span class="close">&times;</span>
	      <h2>Notice</h2>
	    </div>
	    <div class="modal-body">
	      <p>아직 개발 중인 프로젝트입니다-!</p>
	    </div>
	    <div class="modal-footer">
	      <button id="closeBtn">닫기</button>
	    </div>
	  </div>
	</div>
	
	<!-- jQuery -->
	<script src="/etc/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/etc/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/etc/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/etc/js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="/etc/js/main.js"></script>
	
	<!-- 모달 스크립트 -->
	<script>
		// Get the modal
		var modal = document.getElementById("myModal");
		
		// Get the buttons that open the modal
		var btn1 = document.getElementById("openModal1");
		var btn2 = document.getElementById("openModal2");
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		
		// Get the close button
		var closeBtn = document.getElementById("closeBtn");
		
		// Function to open modal
		function openModal() {
		  modal.style.display = "block";
		}
		
		// Function to close modal
		function closeModal() {
		  modal.style.display = "none";
		}
		
		// Event listener for btn1
		btn1.addEventListener('click', function(event) {
		  event.preventDefault();
		  openModal();
		});
		
		// Event listener for btn2
		btn2.addEventListener('click', function(event) {
		  event.preventDefault();
		  openModal();
		});
		
		// Event listener for span (close button)
		span.addEventListener('click', function() {
		  closeModal();
		});
		
		// Event listener for close button
		closeBtn.addEventListener('click', function() {
		  closeModal();
		});
		
		// Event listener to close modal when clicking outside of it
		window.addEventListener('click', function(event) {
		  if (event.target == modal) {
		    closeModal();
		  }
		});
	

	</script>

	</body>
</html>

