<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/etc/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/etc/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/etc/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/etc/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/etc/css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/etc/css/magnific-popup.css">

	<link rel="stylesheet" href="/etc/css/style.css">

	<!--한글 폰트 웹 주소-->
	<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">



	<!-- Modernizr JS -->
	<script src="/etc/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="colorlib-page">
		<!-- <header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="colorlib-navbar-brand">
							<a class="colorlib-logo" href="index.html"><span>No</span><span>ah</span></a>
						</div>
						<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
					</div>
				</div>
			</div>
		</header> -->
		<div id="colorlib-about">
			<div class="container">
				<div class="row">
					<div class="col-md-5 animate-box">
						<div class="indexImg">
							<div class="item">
								<img class="img-responsive about-img" src="/etc/images/myprof.jpg">
<!-- 								<img class="img-responsive about-img" src="/etc/images/YerinYoo.jpg"> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-push-1 animate-box">
						<div class="about-desc">
							<div class="owl-carousel3">
								<div class="item">
									<h2><span>Yerin Yoo</span></h2>
								</div>
								<div class="item">
									<h2><span>I'm</span><span>A Full-Stack Developer</span></h2>
								</div>
							</div>
							<div class="desc">
								<div class="rotate">
									<h2 class="heading">About</h2>
								</div>
								<p><a href="#">개발자가 되고 싶은 이유</a>는 개발에 흥미 어쩌구..</p>
								<div class="row">
									<div class="col-md-4">
										<p><a href="#" class="btn btn-primary btn-outline disabled">Contact Me!</a></p>
									</div>
									<div class="col-md-4">
										<p class="ContactMe">
											<a href="https://github.com/YerinYoo" target = "_blank"><img src="/etc/images/github.svg" style="height:28px; width:28px"></img></a>
											<a href="https://www.notion.so/ooyoche1s/Diary-of-Dev-c8e8d36cc44743b995e285eedb88426e?pvs=4" target="_blank"><img src="/etc/images/notion.svg" style="height:45px; width:45px"></img></a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="colorlib-work">
			<div class="container">

				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading"  style="margin-bottom: 0;">
						<span>Portfolio</span>
						<h2>Personal Project</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="rotate">
							<h2 class="heading">eCommerce</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-offset-4">
						<div class="desc">
							<p>		
							2024.03 ~ 2024.04
								<br>[me O my]라는 이름으로 의류 쇼핑몰 주제의 프로젝트를 진행하였습니다. 
								<br>대부분의 사람들이 많이 접하는 웹 사이트의 주제이기도 하고, 
								<br>평소 관심을 많이 갖던 주제로 진행을 하고 싶었기에 선정하였습니다.
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6" style="justify-content: center;">
						<div class="work-entry animate-box">
							<a class="work-img" style="background-image: url(/etc/images/ecommerce.png);" href="/recorded" target = "_blank">
								<div class="display-t">
									<div class="work-name">
										<h2>User</h2>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="work-entry animate-box">
							<a class="work-img" style="background-image: url(/etc/images/admin.png);" href="/loginAdm" target = "_blank">
								<div class="display-t">
									<div class="work-name">
										<h2>Admin</h2>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading" style="margin-bottom: 0;">
							<h2>Soccer Community</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="rotate">
								<h2 class="heading">Soccer Community</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 col-md-offset-4">
							<div class="desc">
								<p>축구 동호회 선수 및 스탭들이 이용할 수 있는 커뮤니티를 구현하였습니다.
									<br>팀 별 선수 리스트(전체, 결장 선수 등)는 물론,
									<br>경기마다 출전한 선수들의 스쿼드를 확인할 수 있습니다.
									<br>
									<br>또한 스탭의 경우에는 포메이션을 등록하는 등,
									<br>경기의 전술을 커뮤니티를 통해 선수와 공유할 수 있으며
									<br>축구 동호회의 경우, 축구 경기장을 예약하는 데에 어려움을 겪는다고 하여
									<br>경기장 예약 기능도 함께 구현하였습니다.
								</p>
							</div>
						</div>
					</div>
	
					<div class="row mt-3">
						<div class="col-md-6" >
							<div class="work-entry animate-box">
								<a class="work-img" style="background-image: url(/etc/images/ecommerce.png);">
									<div class="display-t">
										<div class="work-name">
											<h2>User</h2>
										</div>
									</div>
								</a>
							</div>
						</div>
	
						<div class="col-md-6">
							<div class="work-entry animate-box">
								<a class="work-img" style="background-image: url(/etc/images/admin.png);">
									<div class="display-t">
										<div class="work-name">
											<h2>Admin</h2>
										</div>
									</div>
								</a>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading" style="margin-bottom: 0;">
								<h2>DPRO</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="rotate">
									<h2 class="heading">SCM Management</h2>
								</div>
							</div>
						</div>
						
						<div class="row justify-content-center">
							<div class="col-md-5 col-md-offset-4">
								<div class="desc">
									<p>24.04 ~ 24.05
										<br>입고, 출고, 발주 등의 물류 관리 시스템을 구현하였습니다.
										<br>각각의 테마마다 CRUD 기능을 만들었으며,
										<br>member, orders 그리고 index 화면을 담당하였습니다.
										<br>
										<br>member insert할 때에 비밀번호 칼럼에 대하여
										<br>암호화 및 복호화를 구현하였으며 로그인, 로그아웃 기능을 구현하였습니다.
									</p>
								</div>
							</div>
						</div>
		
							<div class="col-md-6 " >
								<div class="work-entry animate-box" style="margin-left : 55%;">
									<a class="work-img" href="http://43.203.212.207:8089/XdmLogin" style="background-image: url(/etc/images/dpro-index.png);" target="_blank">
										<div class="display-t">
											<div class="work-name">
												<h2>Admin</h2>
											</div>
										</div>
									</a>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="services-flex">
							<div class="one-third">
								<div class="row">
									<div class="col-md-12 col-md-offset-0 animate-box intro-heading" style="padding : 0;">
										<span>My Skills</span>
										<h2>Here Are Some of My Skills</h2>
										<p>* OS - Mac, Windows</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="rotate">
											<h2 class="heading">My Skills</h2>
										</div>
									</div>
									<div class="col-md-6">
										<div class="services animate-box">
											<h3>1 - Back End Development</h3>
											<ul>
												<li>Java</li>
												<li>Python</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>3 - Database</h3>
											<ul>
												<li>Oracle (localhost)</li>
												<li>MySQL (localhost, AWS RDS)</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>5 - Licenses</h3>
											<ul>
												<li>OPIc - AL</li>
												<li>운전면허 2종 보통</li>
											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<div class="services animate-box">
											<h3>2 - Front End Development</h3>
											<ul>
												<li>HTML</li>
												<li>CSS</li>
												<li>Bootstrap</li>
												<li>JavaScript &amp; Jquery</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>4 - Etc.</h3>
											<ul>
												<li>Adobe Photoshop</li>
												<li>MS Office - Word</li>
												<li>MS Office - Powerpoint</li>
												<li>Notion</li>
												<li>Slack</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="one-forth services-img" style="background-image: url(/etc/images/services-img-1.jpg);">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div id="footer">
			<div class="container">
					<div class="row">
						<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
							<span>Contact</span>
							<h2>Contact Me</h2>
						</div>
					</div>
				<div class="ContactMe">
					<div class="row">
						<div class="col-md-12">
							<div class="rotate">
								<h2 class="heading">Contact</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-md-offset-0" >
							<div class="row">
								<div class="col-md-6 animate-box" >
									<h3 style="text-align : left">My Address</h3>
									<ul class="contact-info">
										<li><span><i class="icon-phone4"></i></span>+82 10-4951-5254</li>
										<li><span><i class="icon-envelope2"></i></span><a href="#">ooyo.che1s@gmail.com</a></li>
										<li><span><i class="icon-globe3"></i></span><a href="#">https://github.com/YerinYoo</a></li>
									</ul>
								</div>
							</div>
					</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart4" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="/etc/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/etc/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/etc/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/etc/js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="/etc/js/main.js"></script>

	</body>
</html>

