<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/logo-dear.png">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
</script>
<!-- 카카오 주소 api -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/usr/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">

    <div class="page-wrapper">
        <div th:replace="~{usr/infra/v1/include/Header :: Header}"></div>

        
		<main class="main">
			<div class="page-header">
				<div class="container d-flex flex-column align-items-center">
					<nav aria-label="breadcrumb" class="breadcrumb-nav">
						<div class="container">
							<div class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
								<li class="breadcrumb-item"><a href="category.html">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									My Account
								</li>
							</ol>
						</div>
					</div>
					</nav>

					<h3>Account Details</h3>
				</div>
			</div>

				<div th:replace="~{/usr/infra/v1/include/MyPage :: SideBar}"></div>

						<form id="formUpdate" name="formUpdate" action="/updateUser" method="post">
						<div class="row">
					<div class="col-10 mt-3">
					<div class="container login-container" >
					<h3 class="account-sub-title d-none d-md-block"><i class="sicon-user" style="margin-right : 0.5%;"></i>Account Settings</h3>

					</div>
					</div>
					</div>
						<div class="row  justify-content-center"  style="padding-left : 20%;">
							<div class="col-6">
							<div class="card mt-3">
							  <div class="card-header">
							    Basic Info
							  </div>
							  <div class="card-body">
							    	<label for="register-id">ID<span class="required">*</span></label>
									<input type="text" class="form-input form-wide" placeholder="Your ID" id="ID" name="ID"  th:value="${session.sessIdUsr}"disabled />
		
									<label for="register-name">Name<span class="required">*</span></label>
									<input type="text" class="form-input form-wide" id="name"  name="name" th:value="${session.sessNameUsr}"required />
												
									<label for="register-email">email<span class="required">*</span></label>
									<input type="text" class="form-input form-wide" id="email"  name="email" th:value="${session.sessEmailUsr}"required />
							  </div>
							</div>
							
							<div class="card mt-3">
							  <div class="card-header">
							    Additional Info
							  </div>
							  <div class="card-body">
							    	<label for="register-birthday" style="padding-top : 4%;">BirthDay</label>
									<input class="datepicker form-control" type="date" name="birthday" id="birthday" th:value="${#dates.format(session.sessBirthDayUsr, 'yyyy-MM-dd')}" />
												
													
											<div class="mt-3">
											    <label for="register-gender">Gender</label>
												<input id="register-gender-male" name="genderCD" th:value="1" type="radio" autocomplete="off" th:checked="${session.sessGenderUsr eq 1}">
												<label for="register-gender-male">Male</label>
												
												<input id="register-gender-female" name="genderCD" th:value="2" type="radio" autocomplete="off" th:checked="${session.sessGenderUsr eq 2}">
												<label for="register-gender-female">Female</label>
												
												<input id="register-gender-etc" name="genderCD" th:value="3" type="radio" autocomplete="off" th:checked="${session.sessGenderUsr eq 3}">
												<label for="register-gender-etc">etc.</label>
											</div>
											
										<div class="mt-1">
											<label for="register-mobile">
												Mobile</label>
											<input type="tel" pattern="[0-9]*" class="form-input form-wide" id="mobile" name="mobile" th:value="${session.sessMobileNumUsr}"/>
										</div>
							  </div>
							</div>
						</div>
						
						<div class="col-6">
						<div class="card mt-3">
							  <div class="card-header">
							    My Address
							  </div>
							  <div class="card-body">
										<div class="mb-1" style="float : right;"> 
											<button type="button" class="btn btn-md w-6 mr-0  mt-2" onclick="sample6_execDaumPostcode()">Search ZipCode</button>
										</div>
		
										<div class="mt-1">
											<label for="register-zipcode">
												ZipCode</label>
												
											<input type="text" class="form-input form-wide" id="sample6_postcode" name="zipcode" th:value="${session.sessZipcodeUsr}"/>
										</div>
										
										<div class="mt-1">
											<label for="register-addr">
												Address	</label>
											<input type="text" class="form-input form-wide"  id="sample6_address" name="addr" th:value="${session.sessAddrUsr}"/>
										</div>
										
										<div class="mt-1">
											<label for="register-addrDetail">
												Detailed address</label>
											<input type="text" class="form-input form-wide"  id="sample6_detailAddress"  name="addrDetail" th:value="${session.sessAddrDetailUsr}"/>
										</div>
										
										<div class="mt-1">
											<label for="register-recipient">
												Express recipient</label>
											<input type="text" class="form-input form-wide" id="recipient"  name="recipient" th:value="${session.sessRecipientUsr}"/>
										</div>
										
										<div class="mt-1">
											<label for="register-phoneNum">
												Register Mobile Num</label>
											<input type="text" class="form-input form-wide" id="phoneNum" name="phoneNum"  th:value="${session.sessPhoneNumUsr}"/>
										</div>
										
										<div class="mt-1">
											<label for="register-shippingMsg">
												Shipping MSG</label>
											<input type="text" class="form-input form-wide" id="shippingMsg" th:value="${session.sessShippingMsgUsr}"/>
										</div>
							    	
							</div>

							  </div>

							</div>
						</div>
										<div class="form-footer mb-2" style="width : 300px; float : right; ">
											<button type="submit" class="btn btn-dark btn-md w-100 mr-0" id="btnUpdate">
												Edit
											</button>
										</div>
						</form>

				</main><!-- End .main -->

	<div th:replace="~{usr/infra/v1/include/Footer :: Footer}"></div>
	<!-- Plugins JS File -->
	<script src="/usr/js/jquery.min.js"></script>
	<script src="/usr/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/usr/js/main.min.js"></script>

<!-- 카카오 주소 api -->
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 도로명 주소인 경우
                    addr = data.roadAddress;
                } else { // 지번 주소인 경우
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;

                // 추가 주소 정보를 가져와서 입력한다.
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("sample6_extraAddress").value = addrDetail;
                } else {
                    document.getElementById("sample6_extraAddress").value = addrDetail;
                }

                // 팝업을 닫는다.
                this.close();
            }
        }).open();
    }
</script>

<script>
//사용자 정보 수정 스크립트
document.getElementById("btnUpdate").addEventListener("click", function() {
    document.getElementById("formUpdate").submit();
});
</script>



</body>

</html>