<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/logo-dear.png">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
        <div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>

		<main class="main" style=" position: relative;">
			<div class="page-header">
				<div class="container d-flex flex-column align-items-center">
					<nav aria-label="breadcrumb" class="breadcrumb-nav">
						<div class="container">
							<div class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
								<li class="breadcrumb-item"><a href="category.html">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									My Account
								</li>
							</ol>
						</div>
					</div>
					</nav>

					<h3>My Address</h3>
				</div>
			</div>

			<div th:replace="~{/usr/infra/v1/include/MyPage :: SideBar}"></div>
			
					<div class="col-8 mt-3">

                        
                    <!--왜 안 먹는지 모르겠음-->
                        <div class="address" id="address" >
                            <h3 class="account-sub-title d-none d-md-block mb-1 mt-3"><i
                                    class="sicon-location-pin align-middle mr-3"></i>Addresses</h3>
								<div class="add-button mt-3">
									<button class="btn btn-outline-dark btn-rounded btn-md">New Addr</button>
								</div>
								<div class="order-content mt-3"  > 
									<div class="order-table-container text-center" style="width : 1300px;">
										<table class="table table-order text-center vertical-align-middle" >
											<thead>
												<tr>
													<th class="addr-defaultNY"></th>
													<th class="addr-name">Addr Type</th>
													<th class="addr-person">Recipient </th>
													<th class="addr-phoneno">Mobile</th>
													<th class="addr-zipcode">ZipCode</th>
													<th class="addr-addr">Address</th>
													<th class="addr-addrDet">Details</th>
													<th class="addr-msg">Shipping MSG</th>
													<th class="addr-method"></th>
												</tr>
											</thead>
											<tbody th:each="addr : ${memberAddr}">
												<tr>
													<td class="addr-defaultNY" >
														<button class="btn btn-success btn-rounded btn-md">Default</button>
													</td>
													<td class="addr-name" style="text-align:center; vertical-align : middle;" th:text="${addr.addrTypeCD}"></td>
													<td class="addr-person" style="text-align:center; vertical-align : middle;" th:text="${addr.recipient}"></td>
													<td class="addr-phoneno" style="text-align:center; vertical-align : middle;" th:text="${addr.phoneNum}"></td>
													<td class="addr-zipcode" style="text-align:center; vertical-align : middle;" th:text="${addr.zipcode}"></td>
													<td class="addr-addr" style="text-align:center; vertical-align : middle;" th:text="${addr.addr}"></td>
													<td class="addr-addrDet" style="text-align:center; vertical-align : middle;" th:text="${addr.addrDetail}"></td>
													<td class="addr-msg" style="text-align:center; vertical-align : middle;" th:text="${addr.shippingMsg}"></td>
													<td class="addr-method" style="text-align:center; vertical-align : middle;">
														<button class="btn btn-dark btn-addAddr">
															Edit
														</button>
														<button class="btn  btn-delAddr">
															Delete
														</button>
													</td>

												</tr>
											</tbody>
										</table>
												
												</div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .tab-pane -->

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->

	<div th:replace="~{/usr/infra/v1/include/Footer :: Footer}"></div>

	<!-- Plugins JS File -->
	<script src="/usr/js/jquery.min.js"></script>
	<script src="/usr/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/usr/js/main.min.js"></script>
</body>

</html>