<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/logo-dear.png">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>
    <!-- 토스 페이먼트 스크립트 -->
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>

	
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
      <div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>

        <main class="main main-test" style="padding-top : 10%; height : 100%;">
    <!--     
            <div class="container checkout-container">
				<div class="loginSessionYes" th:if="${session.authenticatedMember != null and session.sessIdUsr != null}">
					<h4>CheckOut!</h4>
				</div>
                <div class="login-form-container" th:unless="${session.authenticatedMember != null and session.sessIdUsr != null}">
                    <h4>Returning customer?
                        <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn btn-link btn-toggle">Login</button>
                    </h4>
					<div class="loginGo">
						<div id="collapseOne" class="collapse">
	                        <div class="login-section feature-box">
	                            <div class="feature-box-content">
	                                <form action="#" id="login-form">
	                                    <p>
	                                        If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing & Shipping section.
	                                    </p>
	
	                                    <div class="row">
	                                        <div class="col-md-4">
	                                            <div class="form-group">
	                                                <label class="mb-0 pb-1">Username or email <span
	                                                        class="required">*</span></label>
	                                                <input type="email" class="form-control" required />
	                                            </div>
	                                        </div>
	
	                                        <div class="col-md-4">
	                                            <div class="form-group">
	                                                <label class="mb-0 pb-1">Password <span
	                                                        class="required">*</span></label>
	                                                <input type="password" class="form-control" required />
	                                            </div>
	                                        </div>
	                                    </div>
	
	                                    <button type="submit" class="btn">LOGIN</button>
	
	                                    <div class="form-footer mb-1">
	                                        <div class="custom-control custom-checkbox mb-0 mt-0">
	                                            <input type="checkbox" class="custom-control-input" id="lost-password" />
	                                            <label class="custom-control-label mb-0" for="lost-password">Remember
	                                                me</label>
	                                        </div>
	
	                                        <a href="forgot-password.html" class="forget-password">Lost your password?</a>
	                                    </div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
                    
 -->
                <div class="row justify-content-center" style="padding-bottom : 5%;"> 	
                    <div class="col-lg-4">
                        <ul class="checkout-steps">
                            <li>
                                <h4 class="step-title">Shipping details</h4>

                                <form action="#" id="checkout-form">
                                    <div class="row">

                                        <div class="col">
                                            <div class="form-group">
                                                <label>Name
                                                    <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="form-control"  th:value="${session.sessNameUsr}" required />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-1 pb-2">
                                        <label>Street address
                                            <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" class="form-control" placeholder="House number and street name"  th:value="${session.sessAddrUsr}"  required />
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Apartment, suite, unite, etc. (optional)" th:value="${session.sessAddrDetailUsr}"   required />
                                    </div>

                                    <div class="form-group">
                                        <label>Postcode / Zip
                                            <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" class="form-control" th:value="${session.sessZipcodeUsr}"  required />
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="order-comments">Order notes (optional)</label>
                                        <textarea class="form-control" placeholder="Notes about your order, e.g. special notes for delivery."  th:value="${session.sessShippingMsgUsr}"  required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Phone <abbr class="required" title="required">*</abbr></label>
                                        <input type="tel" class="form-control" th:value="${session.sessPhoneNumUsr}" required />
                                    </div>

                                    <div class="form-group">
                                        <label>Email address
                                            <abbr class="required" title="required">*</abbr></label>
                                        <input type="email" class="form-control" th:value="${session.sessEmailUsr}"required />
                                    </div>

                                    <div id="collapseFour" class="collapse">
                                        <div class="shipping-info">
                                            <div class="form-group mb-1 pb-2">
                                                <label>Street address
                                                    <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="form-control" placeholder="House number and street name" required />
                                            </div>
        
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Apartment, suite, unite, etc. (optional)" required />
                                            </div>
        
                                            <div class="form-group">
                                                <label>Postcode / Zip
                                                    <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="form-control" required />
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="order-comments">Order notes (optional)</label>
                                                <textarea class="form-control" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                            </div>
        
                                            <div class="form-group">
                                                <label>Mobile <abbr class="required" title="required">*</abbr></label>
                                                <input type="tel" class="form-control" required />
                                            </div>
        
                                            <div class="form-group">
                                                <label>Email<abbr class="required" title="required">*</abbr></label>
                                                <input type="email" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- End .col-lg-8 -->

                    

                    <div class="col-lg-4 ml-3" >
                        <div class="order-summary">
                            <h4>YOUR ORDER</h4>

						    <table class="table table-mini-cart mt-4">
						        <thead>
						            <tr>
						                <th colspan="2" style="vertical-align: middle; padding-top : 4%;">
						                    <h5>Product</h5>
						                </th>
						                <th></th>
						                <th></th>
						                <th></th>
						            </tr>
						        </thead>
						        <tbody style="height : 100px;">
						            <tr th:each="item : ${wishlist}">
						                <td class="product-col" style="vertical-align: middle; height : 10%;" th:text="${item.ProductName}">
						                </td>
						                <td class="color-col" style="vertical-align: middle;">
						                    <span th:text="${item.color}"></span>
						                    <span> / </span>
						                    <span th:text="${item.size}"></span>
						                </td>
						                <td class="ea-col" style="vertical-align : middle;">
						                	<span th:text="${item.ea}"></span><span>ea</span>
						                </td>
						                 <td class="price-col" style="vertical-align: middle;">
						                    <span th:text="${item.DiscountedPrice}"></span>
						                </td>
						            </tr>
						        </tbody>
						        <tfoot>
						            <tr class="order-total">
						                <td style="vertical-align: middle;">
						                    <h4>Total</h4>
						                </td>
						                <td></td>
						                <td></td>
						                <td style="vertical-align: middle;">
						                    <b class="total-price"><span></span></b>
						                </td>
						            </tr>
						        </tfoot>
						    </table>



    
                            <div class="payment-methods">
                                <h4 class="">Payment methods</h4>
                                
                                    <!-- 결제 UI, 이용약관 UI 영역 -->

    
                                <div class="info-box with-icon p-0">
                                    <div class="form-group form-group-custom-control">
                                        <div class="radio col-xs-12">
                                            <label>
                                                <input type="radio" name="radios" class="track-order-change" id="pictureTar" value="">
                                                Credit Card
                                            </label>
                                        </div>
                            
                                        <div class="col-xs-12 panel-collapse collapse in" id="pictureTarifa">

    
                                            <div class="row">
                                                <div class="col-12" style="width : 500px;">
                                                    <div>
<!--                                                          <div id="payment-method"></div> -->
<!-- 															    <div id="agreement"></div> -->
<!-- 															    결제하기 버튼 -->
<!-- <!-- 															    <button id="payment-button">결제하기</button> -->
                                                        <label for="card-comp">
                                                            Card Company
                                                            <span class="required">*</span>
                                                        </label>
                                                        <select name="cardcomp" class="form-control" style="height : 42px;">
                                                            <option value="" selected="selected"></option>
                                                            <option value="1"></option>
                                                            <option value="2">국민카드</option>
                                                            <option value="3">현대카드</option>
                                                            <option value="4">BC카드</option>
                                                            <option value="5">삼성카드</option>
                                                            <option value="6">하나카드</option>
                                                            <option value="7">신한카드</option>
                                                            <option value="8">롯데카드</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div>
                                                        <label for="card-no">
                                                            Card No.
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input type="email" class="form-input form-wide" id="register-email" required />
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div>
                                                        <label for="card-no">
                                                            Card Holder Name
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input type="email" class="form-input form-wide" id="register-email" required />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-6">
                                                    <div>
                                                        <label for="card-no">
                                                            MM/YY
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input type="email" class="form-input form-wide" id="register-email" required />
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div>
                                                        <label for="card-no">
                                                            CVV / CVC
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input type="email" class="form-input form-wide" id="register-email" required />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="radio col-xs-12">
                                            <label>
                                                <input type="radio" name="radios" class="track-order-change" id="tarifaHor1">
                                                Kakao Pay
                                            </label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                           
                                    </div>
                                    <!-- End .form-group -->
                                    <!-- End .form-group -->
                                </div>
                            <div class="row">
                                
                                <div class="col-12">
								    <div class="ordergo">
								        <a href="/recorded/OrderComplete" class="btn btn-dark btn-place-order mt-3 ml-5"  id="payment-button" style="float : right">
								            Order
								        </a>
								    </div>
								</div>


                            </div>

                        </div>
                        <!-- End .cart-summary -->
                    </div>
                    <!-- End .col-lg-4 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </main>
        <!-- End .main -->

        <footer class="footer bg-dark">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Contact Info</h4>
                                <ul class="contact-info">
                                    <li>
                                        <span class="contact-info-label">Address:</span>123 Street Name, City, England
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Phone:</span><a href="tel:">(123)
                                            456-7890</a>
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Email:</span> <a href="mailto:mail@example.com">mail@example.com</a>
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Working Days/Hours:</span> Mon - Sun / 9:00 AM - 8:00 PM
                                    </li>
                                </ul>
                                <div class="social-icons">
                                    <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                    <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                    <a href="#" class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
                                </div>
                                <!-- End .social-icons -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>

                                <ul class="links">
                                    <li><a href="#">Help & FAQs</a></li>
                                    <li><a href="#">Order Tracking</a></li>
                                    <li><a href="#">Shipping & Delivery</a></li>
                                    <li><a href="#">Orders History</a></li>
                                    <li><a href="#">Advanced Search</a></li>
                                    <li><a href="dashboard.html">My Account</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Corporate Sales</a></li>
                                    <li><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Popular Tags</h4>

                                <div class="tagcloud">
                                    <a href="#">Bag</a>
                                    <a href="#">Black</a>
                                    <a href="#">Blue</a>
                                    <a href="#">Clothes</a>
                                    <a href="#">Fashion</a>
                                    <a href="#">Hub</a>
                                    <a href="#">Shirt</a>
                                    <a href="#">Shoes</a>
                                    <a href="#">Skirt</a>
                                    <a href="#">Sports</a>
                                    <a href="#">Sweater</a>
                                </div>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Subscribe newsletter</h4>
                                <p>Get all the latest information on events, sales and offers. Sign up for newsletter:
                                </p>
                                <form action="#" class="mb-0">
                                    <input type="email" class="form-control m-b-3" placeholder="Email address" required>

                                    <input type="submit" class="btn btn-primary shadow-none" value="Subscribe">
                                </form>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->

            <div class="container">
                <div class="footer-bottom">
                    <div class="container d-sm-flex align-items-center">
                        <div class="footer-left">
                            <span class="footer-copyright">© Porto eCommerce. 2021. All Rights Reserved</span>
                        </div>

                        <div class="footer-right ml-auto mt-1 mt-sm-0">
                            <div class="payment-icons">
                                <span class="payment-icon visa" style="background-image: url(/usr/images/payments/payment-visa.svg)"></span>
                                <span class="payment-icon paypal" style="background-image: url(/usr/images/payments/payment-paypal.svg)"></span>
                                <span class="payment-icon stripe" style="background-image: url(/usr/images/payments/payment-stripe.png)"></span>
                                <span class="payment-icon verisign" style="background-image:  url(/usr/images/payments/payment-verisign.svg)"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .footer-bottom -->
            </div>
            <!-- End .container -->
        </footer>
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li><a href="demo4.html">Home</a></li>
                    <li>
                        <a href="category.html">Categories</a>
                        <ul>
                            <li><a href="category.html">Full Width Banner</a></li>
                            <li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
                            <li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
                            <li><a href="category-sidebar-left.html">Left Sidebar</a></li>
                            <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
                            <li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
                            <li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
                            <li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
                            <li><a href="#">List Types</a></li>
                            <li><a href="category-infinite-scroll.html">Ajax Infinite Scroll<span
                                        class="tip tip-new">New</span></a></li>
                            <li><a href="category.html">3 Columns Products</a></li>
                            <li><a href="category-4col.html">4 Columns Products</a></li>
                            <li><a href="category-5col.html">5 Columns Products</a></li>
                            <li><a href="category-6col.html">6 Columns Products</a></li>
                            <li><a href="category-7col.html">7 Columns Products</a></li>
                            <li><a href="category-8col.html">8 Columns Products</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html">Products</a>
                        <ul>
                            <li>
                                <a href="#" class="nolink">PRODUCT PAGES</a>
                                <ul>
                                    <li><a href="product.html">SIMPLE PRODUCT</a></li>
                                    <li><a href="product-variable.html">VARIABLE PRODUCT</a></li>
                                    <li><a href="product.html">SALE PRODUCT</a></li>
                                    <li><a href="product.html">FEATURED & ON SALE</a></li>
                                    <li><a href="product-sticky-info.html">WIDTH CUSTOM TAB</a></li>
                                    <li><a href="product-sidebar-left.html">WITH LEFT SIDEBAR</a></li>
                                    <li><a href="product-sidebar-right.html">WITH RIGHT SIDEBAR</a></li>
                                    <li><a href="product-addcart-sticky.html">ADD CART STICKY</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="nolink">PRODUCT LAYOUTS</a>
                                <ul>
                                    <li><a href="product-extended-layout.html">EXTENDED LAYOUT</a></li>
                                    <li><a href="product-grid-layout.html">GRID IMAGE</a></li>
                                    <li><a href="product-full-width.html">FULL WIDTH LAYOUT</a></li>
                                    <li><a href="product-sticky-info.html">STICKY INFO</a></li>
                                    <li><a href="product-sticky-both.html">LEFT & RIGHT STICKY</a></li>
                                    <li><a href="product-transparent-image.html">TRANSPARENT IMAGE</a></li>
                                    <li><a href="product-center-vertical.html">CENTER VERTICAL</a></li>
                                    <li><a href="#">BUILD YOUR OWN</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
                        <ul>
                            <li>
                                <a href="wishlist.html">Wishlist</a>
                            </li>
                            <li>
                                <a href="cart.html">Shopping Cart</a>
                            </li>
                            <li>
                                <a href="checkout.html">Checkout</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="forgot-password.html">Forgot Password</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li>
                        <a href="#">Elements</a>
                        <ul class="custom-scrollbar">
                            <li><a href="element-accordions.html">Accordion</a></li>
                            <li><a href="element-alerts.html">Alerts</a></li>
                            <li><a href="element-animations.html">Animations</a></li>
                            <li><a href="element-banners.html">Banners</a></li>
                            <li><a href="element-buttons.html">Buttons</a></li>
                            <li><a href="element-call-to-action.html">Call to Action</a></li>
                            <li><a href="element-countdown.html">Count Down</a></li>
                            <li><a href="element-counters.html">Counters</a></li>
                            <li><a href="element-headings.html">Headings</a></li>
                            <li><a href="element-icons.html">Icons</a></li>
                            <li><a href="element-info-box.html">Info box</a></li>
                            <li><a href="element-posts.html">Posts</a></li>
                            <li><a href="element-products.html">Products</a></li>
                            <li><a href="element-product-categories.html">Product Categories</a></li>
                            <li><a href="element-tabs.html">Tabs</a></li>
                            <li><a href="element-testimonial.html">Testimonials</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="mobile-menu mt-2 mb-2">
                    <li class="border-0">
                        <a href="#">
                            Special Offer!
                        </a>
                    </li>
                    <li class="border-0">
                        <a href="https://1.envato.market/DdLk5" target="_blank">
                            Buy Porto!
                            <span class="tip tip-hot">Hot</span>
                        </a>
                    </li>
                </ul>

                <ul class="mobile-menu">
                    <li><a href="dashboard.html">My Account</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="wishlist.html">My Wishlist</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="login.html" class="login-link">Log In</a></li>
                </ul>
            </nav>
            <!-- End .mobile-nav -->

            <form class="search-wrapper mb-2" action="#">
                <input type="text" class="form-control mb-0" placeholder="Search..." required />
                <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <div class="sticky-navbar">
        <div class="sticky-info">
            <a href="demo4.html">
                <i class="icon-home"></i>Home
            </a>
        </div>
        <div class="sticky-info">
            <a href="category.html" class="">
                <i class="icon-bars"></i>Categories
            </a>
        </div>
        <div class="sticky-info">
            <a href="wishlist.html" class="">
                <i class="icon-wishlist-2"></i>Wishlist
            </a>
        </div>
        <div class="sticky-info">
            <a href="my-account.html" class="">
                <i class="icon-user-2"></i>Account
            </a>
        </div>
        <div class="sticky-info">
            <a href="cart.html" class="">
                <i class="icon-shopping-cart position-relative">
                    <span class="cart-count badge-circle">3</span>
                </i>Cart
            </a>
        </div>
    </div>



    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script src="/usr/js/jquery.min.js"></script>
    <script src="/usr/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="/usr/js/main.min.js"></script>

    <!--payment select radio & collapse-->
    <script>
        $('#pictureTarifa, #tarifaHorarios').collapse('hide'); 
        $('input[name="radios"]').change( function() {
    if ($('#pictureTar').is(":checked")){
        $('#pictureTarifa').collapse('show');
    } else {
        $('#pictureTarifa').collapse('hide');
    } 
    if ($('#tarifaHor').is(":checked")){
        $('#tarifaHorarios').collapse('show');
    } else {
        $('#tarifaHorarios').collapse('hide');
    } 
    if ($('#radio3').is(":checked")){
        $('#pictureTarifa').collapse('hide');
        $('#tarifaHorarios').collapse('hide');
    }
});
        
     // 문서 로드 후에 실행
        document.addEventListener('DOMContentLoaded', function() {
            calculateTotalPrice();
        });

        // 가격 포맷팅 및 총 가격 계산 함수
        function calculateTotalPrice() {
            var totalPrice = 0;
            var priceElements = document.querySelectorAll('.price-col span');

            priceElements.forEach(function(element) {
                // 원본 텍스트를 유지하기 위해 가격을 먼저 계산한 후 포맷팅합니다.
                var price = parseFloat(element.textContent.replace('$', '').replace(',', ''));
                totalPrice += price;
                element.textContent = formatPrice(price);
            });

            var formattedTotalPrice = formatPrice(totalPrice);
            var totalPriceElement = document.querySelector('.total-price span');
            totalPriceElement.textContent = formattedTotalPrice;
        }

        // 가격 포맷팅 함수
        function formatPrice(price) {
            // 세 자리마다 컴마 추가
            var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            // '₩'을 추가하여 반환
            return "₩" + formattedPrice;
        }


    </script>
    

<!-- 토스페이먼츠 -->    
    
    
<script>
      const coupon = document.getElementById("coupon-box");
      const button = document.getElementById("payment-button");
      const amount = 50000;
      
      // 구매자의 고유 아이디를 불러와서 customerKey로 설정하세요.
      // 이메일・전화번호와 같이 유추가 가능한 값은 안전하지 않습니다.
      const widgetClientKey = "test_ck_jExPeJWYVQ40jypbomvo349R5gvN";
      const customerKey = "SFvV2ESjKh2PnQn2Ne6Xd";
      const paymentWidget = PaymentWidget(widgetClientKey, customerKey); // 회원 결제
      // const paymentWidget = PaymentWidget(widgetClientKey, PaymentWidget.ANONYMOUS) // 비회원 결제

      const paymentMethodWidget = paymentWidget.renderPaymentMethods(
        "#payment-method",
        { value: amount },
        { variantKey: "DEFAULT" }
      );

      paymentWidget.renderAgreement(
        "#agreement", 
        { variantKey: "AGREEMENT" }
      );

      button.addEventListener("click", function () {
        // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요. 
        // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.  
        paymentWidget.requestPayment({
          orderId: "1W_pCfO4rzG9szJEcThKe",
          orderName: "Me O My",
          successUrl: window.location.origin + "/recorded/OrderComplete",
          failUrl: window.location.origin + "/fail",
//           customerEmail: "customer123@gmail.com",
//           customerName: "김토스",
//           customerMobilePhone: "01012341234",
        });
      });
    </script>
    
</body>

</html>