<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/logo-dear.png">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
 	<div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>

		<main class="main">
			<div class="page-header">
				<div class="container d-flex flex-column align-items-center">
					<nav aria-label="breadcrumb" class="breadcrumb-nav" style="height : 20%;">
						<div class="container">
							<div class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
								<li class="breadcrumb-item"><a href="category.html">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									My Account
								</li>
							</ol>
						</div>
					</div>
					</nav>

					<h3>My Account</h3>
				</div>
			</div>
				<!-- 사이드바 th:block -->
				<div th:replace="~{/usr/infra/v1/include/MyPage :: SideBar}"></div>
					<div class="col-8 mt-3">
						<div class="tab-pane fade show active" id="dashboard" role="tabpanel">
								<div class="mt-10">

								<div class="row row-lg">
									<div class="col-6 col-md-4">
										<div class="feature-box text-center pb-4">
											<a th:href="@{/MyPage/Orders}"  ><i
													class="sicon-social-dropbox"></i></a>
											<div class="feature-box-content">
												<h3>ORDERS</h3>
											</div>
										</div>
									</div>

									<div class="col-4 col-md-4">
										<div class="feature-box text-center pb-4">
											<a th:href="@{/MyPage/Address}"><i
													class="sicon-location-pin"></i></a>
											<div class="feature-box-content">
												<h3>ADDRESSES</h3>
											</div>
										</div>
									</div>

									<div class="col-4 col-md-4">
										<div class="feature-box text-center pb-4">
											<a th:href="@{/MyPage/AccountSettings}"   class="link-to-tab"><i class="icon-user-2"></i></a>
											<div class="feature-box-content p-0">
												<h3>ACCOUNT SETTINGS</h3>
											</div>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-4 col-md-4">
										<div class="feature-box text-center pb-4">
											<a href="wishlist.html"><i class="sicon-heart"></i></a>
											<div class="feature-box-content">
												<h3>WISHLIST</h3>
											</div>
										</div>
									</div>

									<div class="col-4 col-md-4">
										<div class="feature-box text-center pb-4">
											<a th:href="@{/logoutUsr}"><i class="sicon-logout"></i></a>
											<div class="feature-box-content">
												<h3>LOGOUT</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
								</div><!-- End .row -->
							</div>
						</div><!-- End .tab-pane -->
					</div><!-- End .tab-content -->
				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->

		<div th:replace="~{/usr/infra/v1/include/Footer :: Footer}"></div>

	<!-- Plugins JS File -->
	<script src="/usr/js/jquery.min.js"></script>
	<script src="/usr/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/usr/js/main.min.js"></script>
</body>

</html>