<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Recorded.</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/icons/logo-brain.jpeg">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
 	 <div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>


        <main class="main">
           <!--  <div class="home-slider slide-animate owl-carousel owl-theme show-nav-hover nav-big">
                <div class="home-slide home-slide1 banner d-flex align-items-center">
                    <img class="slide-bg" src="/usr/images/demoes/demo3/slider/main2.jpg" alt="home banner">
                    <div class="banner-layer appear-animate" data-animation-name="fadeInUpShorter">
                        <h3 class="text-uppercase mb-0" style="color : pink;">Get up to 30% off</h3>
                        <h4 class="m-b-4" style="color : pink;">on Acc & Outer</h4>

                        <a th:href="@{/recorded/Shop}"  class="btn btn btn-xl" role="button" style="background-color : mistyrose;">Shop Now</a>
                    </div>End .banner-layer
                </div>End .home-slide -->

                <div class="home-slide home-slide2 banner d-flex align-items-center">
                    <img class="slide-bg" src="/usr/images/demoes/demo3/slider/slide16.jpg"
                        style="background-color: seagreen;" alt="home banner">
                    <div class="banner-layer appear-animate" data-animation-name="fadeInUpShorter">
                        
                        <h3 class="text-uppercase rotated-upto-text mb-0" style="color: seagreen;">10% off</h3>
                        <h2 style="color : seagreen;">ON ALL PRODUCTS </h2>

                        <hr class="short-thick-divider mb-sm-0 mb-1">

                        <h5 class="text-uppercase d-inline-block mb-2 mb-sm-0" style="color : darkseagreen;">Starting at <span>₩<em>9,700</em></span>
                        </h5>
                        <a th:href="@{/recorded/Shop}" class="btn btn btn-xl " role="button" style="color : darkseagreen;">Shop Now </a>
                    </div><!-- End .banner-layer -->
                </div><!-- End .home-slide -->
            </div><!-- End .home-slider -->

            <!--인기 상품 블럭-->
            <section class="container pb-3 mb-1">
                <h2 class="section-title ls-n-15 text-center pb-2 m-b-4">Popular Products</h2>

                <div class="row py-4">
                    <div class="col-6 col-sm-4 col-md-3 col-xl-2 appear-animate" data-animation-name="fadeIn"
                        data-animation-delay="300" data-animation-duration="1000" th:each="product : ${prodList}" th:if="${product.prodStockCD == 8}">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                 <a th:href="@{/recorded/Shop/Product(productSeq=${product.productSeq}, ProudctName=${product.ProductName}, prodStockCD=${product.prodStockCD})}" >
                                    <img src="/usr/images/demoes/demo3/products/product-1.jpg" width="273"
                                        height="273" alt="productr" />
                                </a>
                                <div class="label-group">
                                     <div th:if="${product.prodStockCD == 7}" class="product-label label-hot">NEW</div>
                                    <div th:if="${product.prodStockCD == 8}" class="product-label label-sale">BEST</div>
                                    <div th:if="${product.prodStockCD == 9}" class="product-label label-hot" style="background-color: rgb(96, 133, 165);">RESTOCK</div>
                                </div>
                              
                                <a th:href="@{/recorded/Shop/Product(productSeq=${product.productSeq}, ProudctName=${product.ProductName})}" class="btn-quickview" title="Quick View">View Details</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                   	<div class="category-list">
							            <!-- <a th:text="${product.category1CD}"></a> -->
										<a th:if="${product.category1CD != null}" th:text="${@codeService.selectOneCachedCode(product.category1CD)}"></a>
										<a th:unless="${product.category1CD != null}" th:text="${product.category1CD}" ></a>
										<a th:if="${product.category2CD != null}" th:text="${@codeService.selectOneCachedCode(product.category2CD)}"></a>
										<a th:unless="${product.category2CD != null}" th:text="${product.category2CD}" ></a>
							         </div>
                                </div>
                                <h3 class="product-title">
                                    <a href="demo3-product.html" th:text="${product.ProductName}"></a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price" th:text="${product.OrgPrice}"></span>
                                    <span class="product-price" th:text="${product.DiscountedPrice}"></span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div>
                </div>
                <!--인기 상품 블럭 끝-->

	<div th:replace="~{/usr/infra/v1/include/Footer :: Footer}"></div>
    </div><!-- End .page-wrapper -->

    <!-- Plugins JS File -->
    <script src="/usr/js/jquery.min.js"></script>
    <script src="/usr/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/js/plugins.min.js"></script>
    <script src="/usr/js/jquery.appear.min.js"></script>

    <!-- Main JS File -->
    <script src="/usr/js/main.min.js"></script>
    
	<script>
	    function searchProducts() {
	        var shValue = document.getElementById('shValue').value;
	
	        $.ajax({
	            type: 'GET',
	            url: '/search',
	            data: {
	                shValue: shValue
	            },
	            success: function(response) {
	                // 성공 시 처리할 로직
	            },
	            error: function(xhr, status, error) {
	                // 실패 시 처리할 로직
	            }
	        });
	    }
	
	    function enterkey() {
	        if (window.event.keyCode == 13) {
	            searchProducts();
	        }
	    }
	
	    // 검색 버튼 클릭 이벤트 처리
	    $('#btnSearch').click(function() {
	        searchProducts();
	        alert("나 검색 버튼 누른다? 모달 띄워??");
	    });
	    
	  //가격 관련 스크립트
        function formatPriceElements() {
            // HTML 요소를 가져와서 가격 포맷팅 적용
            var oldPriceElements = document.querySelectorAll('.old-price');
            var productPriceElements = document.querySelectorAll('.product-price');

            oldPriceElements.forEach(function(element) {
                var price = parseFloat(element.textContent);
                element.textContent = formatPrice(price);
            });

            productPriceElements.forEach(function(element) {
                var price = parseFloat(element.textContent);
                element.textContent = formatPrice(price);
            });
        }

        // 가격 포맷팅 함수
        function formatPrice(price) {
            // 세 자리마다 컴마 추가
            var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            // '원'을 추가하여 반환
            return "₩" + formattedPrice ;
        }

        // 문서 로드 후에 실행
        document.addEventListener('DOMContentLoaded', function() {
            formatPriceElements();
        });
      //상품 이미지에 커서 올렸을 때 뜨는 quick View로 반환하는 버튼 비활성화
      //버튼 요소 선택
      var btn = document.querySelector('.btn-quickview');

      // 버튼 비활성화
      btn.disabled = true;
      
	</script>

</body>

</html>