<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>meOmy</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/icons/logo-brain.jpeg">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>
	
	<!-- 네이버 로그인 -->
	<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
	

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
      

	<div th:replace="~{usr/infra/v1/include/Header :: Header}"></div>

			</div>
			
		<main class="main">
			<div class="container login-container" style="height : 700px">
				<div class="row mt-10 justify-content-center">
					<div class="col-3">

						<div class="heading mb-1 mt-10">
							<h2 class="title">Login</h2>
						</div>

							<label class="form-label">ID</label>
		                    <input type="text" id="ID" name="ID" class="form-control" placeholder="Enter your ID" value="dd">
		                    <div class="invalid-feedback" id="IDFeedback"></div>

							 <label class="form-label">password</label>
		                    <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Enter your Password" value="dd">
							<div class="invalid-feedback" id="pwdFeedback"></div>


							<div class="custom-control custom-checkbox mb-0">
								<input type="checkbox" class="custom-control-input" id="lost-password" />
								<label class="custom-control-label mb-0" for="lost-password">Remember My Account</label>
							</div>
							
							<div class="col-12 mt-1" style="text-align: end;">
								<a th:href="@{/recorded/JoinIn}"
								class="register font2">Don't u have Account?</a>
							</div>

							<button type="button" class="btn btn-dark btn-md w-100 mt-2 mb-0"  id="buttonLogIn">
							LOGIN
							</button>
						
						<div class="row mt-2">
							<div class="col-4">
								<button class="btn btn-outline-danger" style="width : 100%">Google</button>
							</div>
							
							<div class="col-4">
								<a id="naverIdLogin_loginButton" href="javascript:void(0)">
									<button class="btn btn-outline-warning" style="width : 100%">Kakao</button>
								</a>
							</div>

							<div class="col-4">
								<button class="btn btn-outline-success" style="width : 100%">Naver</button>
							</div>
							
						</div>

									
								

				</div>
			</div>
		</div>
		
	    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">	
					
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">Error</h5>
                </div>
                <div class="modal-body">
                    Incorrect ID or password. Please try again.
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" id="modalCloseButton">Close Modal</button>
                </div>
            </div>
        </div>
    </div>
		</main><!-- End .main -->

		<div th:replace="~{usr/infra/v1/include/Footer :: Footer}"></div>
	<!-- Plugins JS File -->
	<script src="/usr/js/jquery.min.js"></script>
	<script src="/usr/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/usr/js/main.min.js"></script>
	
	  <!-- 로그인 관련 JS -->
<script>
$(document).ready(function() {
	
});


//로그인 버튼 클릭 이벤트
function handleLoginButtonClick() {
    $("#buttonLogIn").click(function(e) {
        e.preventDefault(); // 폼 제출 방지
        login(); // 로그인 처리 함수 호출
    });
}

// 엔터 키 이벤트
function handleEnterKeyPress() {
    $("#pwd").keypress(function(e) {
        if (e.which == 13) { // 눌린 키가 엔터 키인 경우
            e.preventDefault(); // 폼 제출 방지
            login(); // 로그인 처리 함수 호출
        }
    });
}


$("#buttonLogIn").click(function(e) {
    e.preventDefault(); // 폼 제출 방지
    var ID = $("#ID").val().trim();
    var pwd = $("#pwd").val().trim(); //val() : 값을 가져오는 jQuery 메서드, trim() : val() 옆 공백 제거하는 메서드

    // 입력값이 비어 있는지 확인하여 입력되지 않은 경우 클래스를 추가하여 시각적으로 사용자에게 표시
    if (ID === '') {
        $("#ID").addClass('is-invalid');
        $("#IDFeedback").text("Please enter your ID");
        return;
    } else {
        $("#ID").removeClass('is-invalid');
    }

    if (pwd === '') {
        $("#pwd").addClass('is-invalid');
        $("#pwdFeedback").text("Please enter your Password");
        return;
    } else {
        $("#pwd").removeClass('is-invalid');
    }

    // 서버로 로그인 정보 전송
    $.ajax({
        async: true,
        cache: false,
        type: "post",
        url: "/loginUsrPg",
        data: {
            "ID": $("#ID").val(),
            "pwd": $("#pwd").val()
        },
        success: function(response) {
            if (response.rt == "success") {
                // 로그인 성공 시 페이지 이동
               window.location.href = "/recorded";
            } else {
                // 로그인 실패 시 모달 띄움
                alert("실패야");
                return false;
            }
        }
    });
});

</script>

<!-- 네이버 로그인 -->
<script>

var naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "zkcfAGKuyAs4V6QAeeX0", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
			callbackUrl: "http://localhost:8080/recorded/Login", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
			isPopup: false,
			callbackHandle: true
		}
	);	

naverLogin.init();

window.addEventListener('load', function () {
	naverLogin.getLoginStatus(function (status) {
		if (status) {
			var email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문을 줍니다.
    		
			console.log(naverLogin.user); 
    		
            if( email == undefined || email == null) {
				alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
				naverLogin.reprompt();
				return;
			}
		} else {
			console.log("callback 처리에 실패하였습니다.");
		}
	});
});


var testPopUp;
function openPopUp() {
    testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
}
function closePopUp(){
    testPopUp.close();
}

function naverLogout() {
	openPopUp();
	setTimeout(function() {
		closePopUp();
		}, 1000);
	
	
}
</script>


</body>

</html>