<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/icons/logo-brain.jpeg">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">

	<!--DateTime Picker-->
	<link href="/usr/css/bootstrap-datepicker.css" rel="stylesheet" />

	<script src="/usr/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/usr/js/bootstrap.js" type="text/javascript"></script>
	<script src="/usr/js/bootstrap-datepicker.js" type="text/javascript"></script>

</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
    <div th:replace="~{usr/infra/v1/include/Header :: Header}"></div>
		<main class="main">
			<div class="page-header">
				<div class="container d-flex flex-column align-items-center">
					<nav aria-label="breadcrumb" class="breadcrumb-nav">
						<div class="container">
							<div class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
								<li class="breadcrumb-item"><a href="category.html">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									My Account
								</li>
							</ol>
						</div>
					</div>
					</nav>

					<h3>My Orders</h3>
				</div>
			</div>

				<div th:replace="~{usr/infra/v1/include/MyPage :: SideBar}"></div>
					<div class="col-8 mt-3">
						<div class="tab-pane fade show active" id="dashboard" role="tabpanel">
							<div class="order-content">
								<h3 class="account-sub-title d-none d-md-block"><i
										class="sicon-social-dropbox align-middle mr-3"></i>Orders</h3>
								<div class="order-table-container">
								<div class="row">

								<div class="container" th:each="order:${order}">
									<div class="mt-3" id="accordion1">
										<div class="card card-accordion">
											<a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapse1"
												aria-expanded="true" aria-controls="collapse1">
												Order Info
											</a>
					
											<div id="collapse1" class="collapse" data-parent="#accordion1">
												<table class="table table-orderdetails">
													<tr>
														<td class="order-id col-3">Order ID</td>
														<td class="order-id" th:text="${order.orderSeq}"></td>
													</tr>
													<tr>
														<td class="order-date">Order Date</td>
														<td class="order-date" th:text="${order.OrderDate}"></td>
													</tr>
													<tr>
														<td class="orderer">Orderer</td>
														<td class="orderer" th:text="${order.name}"></td>
													</tr>
													<tr>
														<td class="order-status mr-5">Order Status</td>
														<td class="order-status"  th:text="${@codeService.selectOneCachedCode(order.orderStatus)}"></td>
													</tr>
												</table>
											</div>
										</div>
					
										<div class="card card-accordion">
											<a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapse2"
												aria-expanded="true" aria-controls="collapse2">
												Order Product
											</a>
					
											<div id="collapse2" class="collapse" data-parent="#accordion1">
												<table class="table table-orderdetails">
													<tr>
														<th></th> <!--주문 제품 이미지-->
														<th style="text-align:center; vertical-align : middle;">Order Product</th>
														<th style="text-align:center; vertical-align : middle;">Color</th>
														<th style="text-align:center; vertical-align : middle;">Size</th>
														<th style="text-align:center; vertical-align : middle;">Price</th>

													</tr>
													<tr th:each="product : ${product}" >
														<td class="product-img" style="text-align:center; vertical-align : middle;"th:if="${product.path == 1}">
															<img th:src="${product.path}" style="height : 80px;">
														</td>
														<td class="order-product-name" style="text-align:center; vertical-align : middle;" th:text="${product.ProductName}"></td>
														<td class="order-color" style="text-align:center; vertical-align : middle" th:text="${product.color}"></td>
														<td class="order-size" style="text-align:center; vertical-align : middle" th:text="${product.size}"></td>
														<td class="order-product-price" style="text-align:center; vertical-align : middle" th:text="${product.DiscountedPrice}"></td>
														<td class="write-review" style="text-align:center; vertical-align : middle;">
															<button class="btn btn-write-review product-type-simple btn-shop">
																Write Review
															</button></td>
														</td>
													</tr>
												</table>
											</div>
										</div>

										<div class="card card-accordion">
											<a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
												aria-expanded="true" aria-controls="collapse3">
												Payment Info
											</a>
					
											<div id="collapse3" class="collapse col-12" data-parent="#accordion3">


												<table class="table table-orderdetails">
													<tr>
														<td class="order-payment">Payment</td>
														<td class="order-paymentid" style="text-align : right;" th:text="${@codeService.selectOneCachedCode(order.paymentCD)}"
														></td>
													</tr>
													<tr>
														<td class="order-payment-details">Payment Details</td>
														<td class="order-payment-detailsid" style="text-align : right;" 
														th:text="${@codeService.selectOneCachedCode(order.cardCompCD)}"></td>
													</tr>
													<tr>
														<td class="total-payprice">Total Price</td>
														<td class="total-payprice" style="text-align : right;" th:text="${order.totalPrice}"></td>
													</tr>
												</table>
													<div id="accordion5">
														<div class="card card-accordion accordion-boxed">
															<a class="card-header" href="#" data-toggle="collapse" data-target="#collapse5"
																aria-expanded="true" aria-controls="collapse5">
																Billing Page
															</a>

															<div id="collapse5" class="collapse" data-parent="#accordion5">
																<table class="table table-totalprice">
																	<tr>
																		<td class="order-total-price">Product Price</td>
																		<!-- orgPrice의 총합 -->
																		<td class="order-total-price" style="text-align : right;" th:text="${order.totalPrice}"></td>
																	</tr>
																	<tr>
																		<td class="order-payment-details">Shipping Price</td>
																		<td class="order-payment-detailsid" style="text-align : right;">₩0</td>
																	</tr>
																</table>
															</div>
														</div>

														<div id="accordion6">
															<div class="card card-accordion accordion-boxed">
																<a class="card-header" href="#" data-toggle="collapse" data-target="#collapse6"
																	aria-expanded="true" aria-controls="collapse6">
																	Discounted Things
																</a>
	
																<div id="collapse6" class="collapse" data-parent="#accordion6">
																	<table class="table table-discoumnted">
																		<tr>
																			<td class="order-discountedprod">Product Discounted Price</td>
																			<td class="order-discountedprod"style="text-align : right;" th:text="${order.totalDiscountedPrice}"></td>
																		</tr>
																		<tr>
																			<td class="order-totalpayprice">Paid Price</td>
																			<td class="order-totalpayprice"style="text-align : right;" th:text="${order.totalPrice}"></td>
																		</tr>
																	</table>
																</div>
															</div>

													</div>
												</div>
																				
																				</div>
																			</div>
					
										<div class="card card-accordion">
											<a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapse4"
												aria-expanded="true" aria-controls="collapse4">
												Address Info
											</a>
					
											<div id="collapse4" class="collapse col-12" data-parent="#accordion4">
												<table class="table table-orderdetails">
													<tr>
														<td class="order-recipient">Recipient</td>
														<td class="order-recipient" th:text="${order.recipient}"></td>
													</tr>
													<tr>
														<td class="order-zipcode">Zip Code</td>
														<td class="order-zipcode" th:text="${order.zipcode}"></td>
													</tr>
													<tr>
														<td class="order-addr">Address</td>
														<td class="order-addr" th:text="${order.addr}"></td>
													</tr>
													<tr>
														<td class="order-addrDetail">Address</td>
														<td class="order-addrDetail" th:text="${order.addrDetail}"></td>
													</tr>
													<tr>
														<td class="order-phonenum">Phone Number</td>
														<td class="order-phonenum" th:text="${order.phoneNum}"></td>
													</tr>
													<tr>
														<td class="order-message">Message</td>
														<td class="order-message" th:text="${order.shippingMsg}"></td>
													</tr>
												</table>
											</div>
										</div>

										<a th:href="@{/MyPage/Orders}" class="btn btn-dark mt-2 mb-3" style="float : right;">Go Order List</a>
	


				</div>
			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->

		<div th:replace="~{usr/infra/v1/include/Footer :: Footer}"></div>
		
	<!-- Plugins JS File -->
	<script src="/usr/js/jquery.min.js"></script>
	<script src="/usr/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/usr/js/main.min.js"></script>

	<!--DateTime Picker-->
	<script type="text/javascript">
		$('.datepicker').datepicker({
		weekStart:1,
		color: 'red'
		});
	   </script>
	   
	  <script>
	//가격 관련 스크립트
	  function formatPriceElements() {
	      // HTML 요소를 가져와서 가격 포맷팅 적용
	      var totalPriceElements = document.querySelectorAll('.total-payprice');
	      var orderTotalPriceElements = document.querySelectorAll('.order-total-price');
	      var orderTotalPayPriceElements = document.querySelectorAll('.order-totalpayprice');
	      
	      totalPriceElements.forEach(function(element) {
	          var totalPriceElements = parseFloat(element.textContent);
	          element.textContent = formatPrice(price);
	      });

	      productPriceElements.forEach(function(element) {
	          var price = parseFloat(element.textContent);
	          element.textContent = formatPrice(price);
	      });
	  }

	  // 가격 포맷팅 함수
	  function formatPrice(price) {
	      // 세 자리마다 컴마 추가
	      var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	      // '원'을 추가하여 반환
	      return "₩" + formattedPrice ;
	  }

	  // 문서 로드 후에 실행
	  document.addEventListener('DOMContentLoaded', function() {
	      formatPriceElements();
	  });
	  </script>

</body>

</html>