<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Me O My</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/icons/logo-brain.jpeg">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div th:replace="~{usr/infra/v1/include/Header :: Header}"></div>
    <div class="page-wrapper">
 	 


       			<div class="container login-container" style="min-height : 100%;">
				<div class="row mt-5 mb-10 justify-content-center">
					<div class="col-4">

								<div class="heading mb-1 mt-10">
									<h2 class="title" style="text-align: center;">Your Order is Completed!</h2>
								</div>

								<div class="row justify-content-center">
									<img src="/usr/images/complete.png" style="width : 400px; padding-top : 50px">
									<h5 style="padding-top : 50px; text-align : center">
										♡ Thank you for your order ♡
										<br>
										We'll prepare your order ASAP and send it to you
										<br>
										So wait a few days !
									</h5>
								</div>
					</div>
				</div>
			</div>
		</main><!-- End .main -->

	<div th:replace="~{usr/infra/v1/include/Footer :: Footer}"></div>
    </div><!-- End .page-wrapper -->

    <!-- Plugins JS File -->
    <script src="/usr/js/jquery.min.js"></script>
    <script src="/usr/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/js/plugins.min.js"></script>
    <script src="/usr/js/jquery.appear.min.js"></script>

    <!-- Main JS File -->
    <script src="/usr/js/main.min.js"></script>
    
	<script>
	    function searchProducts() {
	        var shValue = document.getElementById('shValue').value;
	
	        $.ajax({
	            type: 'GET',
	            url: '/search',
	            data: {
	                shValue: shValue
	            },
	            success: function(response) {
	                // 성공 시 처리할 로직
	            },
	            error: function(xhr, status, error) {
	                // 실패 시 처리할 로직
	            }
	        });
	    }
	
	    function enterkey() {
	        if (window.event.keyCode == 13) {
	            searchProducts();
	        }
	    }
	
	    // 검색 버튼 클릭 이벤트 처리
	    $('#btnSearch').click(function() {
	        searchProducts();
	        alert("나 검색 버튼 누른다? 모달 띄워??");
	    });
	    
	  //가격 관련 스크립트
        function formatPriceElements() {
            // HTML 요소를 가져와서 가격 포맷팅 적용
            var oldPriceElements = document.querySelectorAll('.old-price');
            var productPriceElements = document.querySelectorAll('.product-price');

            oldPriceElements.forEach(function(element) {
                var price = parseFloat(element.textContent);
                element.textContent = formatPrice(price);
            });

            productPriceElements.forEach(function(element) {
                var price = parseFloat(element.textContent);
                element.textContent = formatPrice(price);
            });
        }

        // 가격 포맷팅 함수
        function formatPrice(price) {
            // 세 자리마다 컴마 추가
            var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            // '원'을 추가하여 반환
            return "₩" + formattedPrice ;
        }

        // 문서 로드 후에 실행
        document.addEventListener('DOMContentLoaded', function() {
            formatPriceElements();
        });
      //상품 이미지에 커서 올렸을 때 뜨는 quick View로 반환하는 버튼 비활성화
      //버튼 요소 선택
      var btn = document.querySelector('.btn-quickview');

      // 버튼 비활성화
      btn.disabled = true;
      
	</script>

</body>

</html>