<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/logo-dear.png">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
        <div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>


        <main class="main">
            <div class="container pt-120">
                <nav aria-label="breadcrumb" class="breadcrumb-nav" style="padding-top : 100px">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a>Shop</a></li>
                        <li class="breadcrumb-item"><a th:text="${product.ProductName}"></a></li>
                    </ol>
                </nav>
                <div class="product-single-container product-single-default">
                    <div class="cart-message d-none">
                        <strong class="single-cart-notice">“Men Black Sports Shoes”</strong>
                        <span>has been added to your cart.</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 product-single-gallery">
                            <div class="product-slider-container">
<!-- 								<div class="label-group">
								    <div th:if="${product != null and (product.prodStockCD == 7)}" class="product-label label-hot">NEW</div>
								    <div th:if="${product != null and (product.prodStockCD == 8)}" class="product-label label-sale">BEST</div>
								    <div th:if="${product != null and (product.prodStockCD == 9)}" class="product-label " style="background-color: rgb(96, 133, 165);">RESTOCK</div>
								</div> -->
                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj1.jpg" data-zoom-image="/usr/images/products/zoom/mj1.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj2.jpg" data-zoom-image="/usr/images/products/zoom/mj2.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj3.jpg" data-zoom-image="/usr/images/products/zoom/mj3.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj4.jpg" data-zoom-image="/usr/images/products/zoom/mj4.jpg" width="468" height="468" alt="product" />
                                    </div>
                                  
                                </div>
                                <!-- End .product-single-carousel -->
                                <span class="prod-full-screen">
                                    <i class="icon-plus"></i>
                                </span>
                            </div>

                            <div class="prod-thumbnail owl-dots">
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj1.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj2.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj3.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj4.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                            </div>
                        </div>
                        <!-- End .product-single-gallery -->

                        <div class="col-lg-7 col-md-6 product-single-details">

                                    <strong>
                                      			<a th:if="${product.category1CD != null}" th:text="${@codeService.selectOneCachedCode(product.category1CD)}"></a>
						                        <a th:unless="${product.category1CD != null}" th:text="${product.category1CD}"></a>
						                        <a th:if="${product.category2CD != null}" th:text="${@codeService.selectOneCachedCode(product.category2CD)}"></a>
						                        <a th:unless="${product.category2CD != null}" th:text="${product.category2CD}"></a>
						            </strong>
                            <h1 class="product-title" th:text="${product.ProductName}"></h1>
                            
							<!-- 작게 전후 상품으로 이동할 수 있는 곳. 현재 상품 seq +1, -1인 상품의 정보를 넣으면 좋을듯 -->
                            <div class="product-nav">
                                <div class="product-prev">
                                    <a href="#">
                                        <span class="product-link"></span>

                                        <span class="product-popup">
                                            <span class="box-content">
                                                <img alt="product" width="150" height="150"
                                                    src="/usr/images/products/product-3.jpg"
                                                    style="padding-top: 0px;">

                                                <span>Circled Ultimate 3D Speaker</span>
                                        </span>
                                        </span>
                                    </a>
                                </div>

                                <div class="product-next">
                                    <a href="#">
                                        <span class="product-link"></span>

                                        <span class="product-popup">
                                            <span class="box-content">
                                                <img alt="product" width="150" height="150"
                                                    src="/usr/images/products/product-4.jpg"
                                                    style="padding-top: 0px;">

                                                <span>Blue Backpack for the Young</span>
                                        </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- 요기까지 전후 상품 -->
	
                            <div class="ratings-container" >
                                <a style="padding : 0; margin : 0;" href="#" class="rating-link" th:text="'(' + ${product.totalReviewCount} + ' Reviews)'" ></a>
                            </div>
                            <!-- End .ratings-container -->

                            <hr class="short-divider">

                            <div class="price-box">
                                <span class="old-price" th:text="${product.OrgPrice}"></span>
                                <span class="new-price" th:text="${product.DiscountedPrice}"></span>
                            </div>
                            <!-- End .price-box -->

<!--                             <div class="product-desc">
                                <span th:text="${product.ProductDescription}"></span>
                            </div> -->
                            <!-- End .product-desc -->

                            <ul class="single-info-list">
                                <!---->



                            </ul>

							<hr class="divider mb-3 mt-0">
                            <div class="selectedOptionsList">
                                <div class="product-single-filter">
								    <label>Size:</label>
								    <ul class="config-size-list">
								        <li class="size" th:each="size : ${prodSize}"><a class="d-flex align-items-center justify-content-center" th:text="${size.size}"></a></li>
								    </ul>
								</div>
								
								<div class="product-single-filter">
								    <label>Color:</label>
								    <ul class="config-size-list">
								        <li class="color" th:each="color : ${prodColor}">
								         <a class="d-flex align-items-center justify-content-center"
								         th:style="'background-color: ' + ${color.color} + '; border-radius: 50%; height: 33px;'">
            							</a></li>
								    </ul>
								</div>

								
								<!-- 사이즈, 색상 선택한 후 초기화 버튼 -->
                                <div class="product-single-filter">
                                    <h5>Selected Options</h5>
                                    <a class="font1 text-uppercase clear-btn" href="#">Clear</a>
                                </div>
                                <!---->
                            </div>


                            <div class="product" data-product-id="${product.productSeq}">
							    <div class="product-action">
							        <div class="product-single-qty">
							            <input class="horizontal-quantity form-control" type="text">
							        </div>
							        <!-- End .product-single-qty -->
							        <a id="addToWishlistButton" class="btn-icon-wish add-wishlist" title="Add to Wishlist" th:href="@{/MyPage/Wishlist}">
							            <i class="icon-wishlist-2"></i>
							            <span>Add to Wishlist</span>
							        </a>
							    </div>
							</div>

                            <!-- End .product-action -->

                            <!-- End .product-action -->
                            
                            <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-detailDesc" data-toggle="tab" href="#product-detailDesc-content" role="tab" aria-controls="product-detailDesc-content" aria-selected="false">Details</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">Shippinfo</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false" th:text="'REVIEWS (' + ${product.totalReviewCount} + ')'"></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                            <div class="product-desc-content" >
                               <span th:utext="${product.DetailDescription}"></span>
                            </div>
                            <!-- End .product-desc-content -->
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-detailDesc-content" role="tabpanel" aria-labelledby="product-tab-detailDesc">
                            <div class="product-detailDesc-content" >
                               <span th:text="'🧶Fabric : ' +${product.fabric}"></span>
                               <br>
                               <span th:utext="'📐Size : ' + ${product.detailSize}"></span>
                            </div>
                            <!-- End .product-detailDesc-content -->
                        </div>
                        
						<!-- 배송 정보 > 이건 값에 따라 달라지지 않으니까 -->
                        <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
                            <div class="shippinfo-content">
                            <ul>
								<li>📌If the total payment is less than 30,000 won, an additional 3,000 won shipping fee will be added.</li>
								<li> 📌For Jeju or islands and mountains areas, there is no additional cost for the initial order.</li>
								<li> 📌Please note that an additional delivery fee of KRW 3,000 will be incurred for exchanges and refunds.</li>
								<li> 📌Delivery preparation takes an average of 3-7 business days.</li>
								<li> 📌We will inform you individually if delivery is delayed, out of stock, or product details change.</li>
                            </ul>
                            </div>
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews"  >
						    <div class="product-reviews-content">
						        <h3 class="reviews-title" th:text=" ${product.totalReviewCount == 0 ? 'There is no REVIEW of this product yet' : product.totalReviewCount + ' review for ' + product.ProductName}"></h3>
						        
						        <div class="comment-list" th:if="${product.totalReviewCount > 0}">
						            <div class="comments" th:each="review : ${prodReview}">
						                <figure class="img-thumbnail">
						                    <img src="/usr/images/blog/reviewR.jpg" alt="review" width="80" height="80" >
						                </figure>
						
						                <div class="comment-block mb-1" >
						                    <div class="comment-header">
						                        <div class="comment-arrow"></div>
						                        <span class="comment-by">
						                           <a>♥ <strong th:text="${review.revName}"></strong> – <span th:text="${review.revRegDateTime}"></span></a>

						                        </span>
						                    </div>
						
						                    <div class="comment-content">
						                        <a th:text="${review.ReviewContent}"></a>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						    
                                <div class="divider"></div>

                                <div class="add-product-review">
                                    <h3 class="review-title">Add a review</h3>
                                    
							<form action="ReviewInsert" id="formInsert" name="formInsert" method="post" class="comment-form m-0">
							    <input type="hidden" name="productSeq" value="${productSeq}">
    
							    <div class="form-group">
							        <label>Your review <span class="required">*</span></label>
							        <textarea name="ReviewContent" id="ReviewContent" cols="5" rows="6" class="form-control form-control-sm"></textarea>
							        <div class="invalid-feedback" id="ReviewContentFeedback"></div>
							    </div>

							    <div class="col-md-12 mb-3">
							        <button type="submit" id="btnAdd" class="btn btn-secondary" style="float: right;">ADD</button>
							    </div>
							</form>

                                </div>
                                <!-- End .add-product-review -->
						</div>

                            </div>
                            <!-- End .product-reviews-content -->
                        </div>
                        <!-- End .tab-pane -->
                    </div>
                    <!-- End .tab-content -->
                </div>
                <!-- End .product-single-tabs -->

                            <!-- End .product single-share -->
                        </div>
                        <!-- End .product-single-details -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .product-single-container -->

                
            </div>
            <!-- End .container -->
        </main>
        <!-- End .main -->
		<div th:replace="~{/usr/infra/v1/include/Footer :: Footer}"></div>


    <!-- Plugins JS File -->
    <script src="/usr/js/jquery.min.js"></script>
    <script src="/usr/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="/usr/js/main.min.js"></script>
    
    <script src="/adm/js/validationXdm.js"></script>
    
    <script>
	  //가격 관련 스크립트
    function formatPriceElements() {
        // HTML 요소를 가져와서 가격 포맷팅 적용
        var oldPriceElements = document.querySelectorAll('.old-price');
        var productPriceElements = document.querySelectorAll('.new-price');
        
        oldPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });

        productPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });
    }

    // 가격 포맷팅 함수
    function formatPrice(price) {
        // 세 자리마다 컴마 추가
        var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        // '원'을 추가하여 반환
        return "₩" + formattedPrice ;
    }

    // 문서 로드 후에 실행
    document.addEventListener('DOMContentLoaded', function() {
        formatPriceElements();
    });

    // Clear 버튼을 클릭하면 선택한 옵션을 초기화
    document.querySelector('.clear-btn').addEventListener('click', function () {
        document.getElementById('selectedOptionsList').innerHTML = '';
    });
    
 // 리뷰 제출
    document.getElementById('formInsert').addEventListener('submit', function(event) {
        event.preventDefault(); 

        // 세션에 저장된 회원 시퀀스 가져오기
        var memberSeq = sessionStorage.getItem('sessSeqUsr');

        // 세션에 저장된 회원 시퀀스 출력
        console.log('세션에 저장된 회원 시퀀스:', memberSeq);

        // 회원 시퀀스가 null 또는 undefined인 경우에 대한 처리
        if (!memberSeq) {
            // 로그인하지 않은 경우 알림을 띄우고 로그인 페이지로 이동
            alert('리뷰를 작성하려면 로그인이 필요합니다.');
            window.location.href = '/recorded/Login'; // 로그인 페이지로 이동
        } else {
            // 세션에 저장된 회원 시퀀스가 있는 경우
            var formData = new FormData(this); // 폼 데이터 가져옴
            
            // 폼 데이터에 회원 시퀀스를 추가
            formData.append('memberSeq', memberSeq);
            
            // 폼 데이터에 디폴트 값 줌
            formData.append('delNY', '0');

            var xhr = new XMLHttpRequest(); // AJAX 요청을 생성
            xhr.open('POST', '/ReviewInsert', true); 
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) { // 요청이 완료되면
                    if (xhr.status === 200) { // 성공적인 응답을 받으면
                        alert('리뷰가 성공적으로 제출되었습니다!');
                        document.getElementById('ReviewContent').value = ''; // 리뷰 input 초기화
                    } else {
                        alert('리뷰 제출 중 오류가 발생했습니다.');
                    }
                }
            };
            xhr.send(formData); // 폼 데이터 서버 전송
        }
    });

    $(document).ready(function() {
        $('.add-wishlist').click(function() {
            // 클릭된 버튼이 속한 상품 요소에서 상품 ID를 가져옴
            var productId = $(this).closest('.product').data('productSeq');
            
            // 가져온 상품 ID를 사용하여 위시리스트에 추가하는 작업 수행
            addToWishlist(productSeq);
        });
    });

</script>
</body>

</html>