<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/logo-dear.png">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
        <div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>


        <main class="main">
            <div class="container pt-120">
                <nav aria-label="breadcrumb" class="breadcrumb-nav" style="padding-top : 100px">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                    </ol>
                </nav>
                <div class="product-single-container product-single-default">
                    <div class="cart-message d-none">
                        <strong class="single-cart-notice">“Men Black Sports Shoes”</strong>
                        <span>has been added to your cart.</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 product-single-gallery">
                            <div class="product-slider-container">
								<div class="label-group">
								    <div th:if="${product != null and (product.prodStockCD == 7)}" class="product-label label-hot">NEW</div>
								    <div th:if="${product != null and (product.prodStockCD == 8)}" class="product-label label-sale">BEST</div>
								    <div th:if="${product != null and (product.prodStockCD == 9)}" class="product-label " style="background-color: rgb(96, 133, 165);">RESTOCK</div>
								</div>
                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj1.jpg" data-zoom-image="/usr/images/products/zoom/mj1.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj2.jpg" data-zoom-image="/usr/images/products/zoom/mj2.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj3.jpg" data-zoom-image="/usr/images/products/zoom/mj3.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj4.jpg" data-zoom-image="/usr/images/products/zoom/mj4.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj5.jpg" data-zoom-image="/usr/images/products/zoom/mj5.jpg" width="468" height="468" alt="product" />
                                    </div>
                                </div>
                                <!-- End .product-single-carousel -->
                                <span class="prod-full-screen">
                                    <i class="icon-plus"></i>
                                </span>
                            </div>

                            <div class="prod-thumbnail owl-dots">
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj1.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj2.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj3.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj4.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj5.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                            </div>
                        </div>
                        <!-- End .product-single-gallery -->

                        <div class="col-lg-7 col-md-6 product-single-details">

                                    <strong>
                                      			<a th:if="${product.category1CD != null}" th:text="${@codeService.selectOneCachedCode(product.category1CD)}"></a>
						                        <a th:unless="${product.category1CD != null}" th:text="${product.category1CD}"></a>
						                        <a th:if="${product.category2CD != null}" th:text="${@codeService.selectOneCachedCode(product.category2CD)}"></a>
						                        <a th:unless="${product.category2CD != null}" th:text="${product.category2CD}"></a>
						            </strong>
                            <h1 class="product-title" th:text="${product.ProductName}"></h1>
							<!-- 작게 전후 상품으로 이동할 수 있는 곳. 현재 상품 seq +1, -1인 상품의 정보를 넣으면 좋을듯 -->
                            <div class="product-nav">
                                <div class="product-prev">
                                    <a href="#">
                                        <span class="product-link"></span>

                                        <span class="product-popup">
                                            <span class="box-content">
                                                <img alt="product" width="150" height="150"
                                                    src="/usr/images/products/product-3.jpg"
                                                    style="padding-top: 0px;">

                                                <span>Circled Ultimate 3D Speaker</span>
                                        </span>
                                        </span>
                                    </a>
                                </div>

                                <div class="product-next">
                                    <a href="#">
                                        <span class="product-link"></span>

                                        <span class="product-popup">
                                            <span class="box-content">
                                                <img alt="product" width="150" height="150"
                                                    src="/usr/images/products/product-4.jpg"
                                                    style="padding-top: 0px;">

                                                <span>Blue Backpack for the Young</span>
                                        </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- 요기까지 전후 상품 -->
	
                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:60%"></span>
                                    <!-- End .ratings -->
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <!-- End .product-ratings -->

                                <a href="#" class="rating-link" th:text="'(' + ${product.totalReviewCount} + ' Reviews)'"></a>
                            </div>
                            <!-- End .ratings-container -->

                            <hr class="short-divider">

                            <div class="price-box">
                                <span class="old-price" th:text="${product.OrgPrice}"></span>
                                <span class="new-price" th:text="${product.DiscountedPrice}"></span>
                            </div>
                            <!-- End .price-box -->

<!--                             <div class="product-desc">
                                <span th:text="${product.ProductDescription}"></span>
                            </div> -->
                            <!-- End .product-desc -->

                            <ul class="single-info-list">
                                <!---->



                            </ul>

							<hr class="divider mb-3 mt-0">
                            <div class="product-filters-container">
                                <div class="product-single-filter"><label>Color:</label>
                                    <ul class="config-size-list config-color-list config-filter-list">
                                        <li>
                                            <a href="javascript:;" class="filter-color border-0" style="background-color: rgb(1, 136, 204);"></a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:;" class="filter-color border-0 " style="background-color: rgb(221, 181, 119);"></a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:;" class="filter-color border-0" style="background-color: rgb(96, 133, 165);" border-radius: 50%;></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="product-single-filter"><label>Size:</label>
                                    <ul class="config-size-list">
                                        <li class=""><a href="javascript:;" class="d-flex align-items-center justify-content-center">Large</a></li>
                                        <li class=""><a href="javascript:;" class="d-flex align-items-center justify-content-center">Medium</a></li>
                                        <li class=""><a href="javascript:;" class="d-flex align-items-center justify-content-center">Small</a></li>
                                    </ul>
                                </div>
								
								<!-- 사이즈, 색상 선택한 후 초기화 버튼 -->
                                <div class="product-single-filter">
                                    <label></label>
                                    <a class="font1 text-uppercase clear-btn" href="#">Clear</a>
                                </div>
                                <!---->
                            </div>

                            <div class="sticky-header" data-sticky-options="{'mobile': false}">
                                <div class="container">
                                    <div class="sticky-img mr-4">
                                        <img src="/usr/images/products/zoom/mj1.jpg" width="50" height="50" alt="product" />
                                    </div>
                                    <div class="sticky-detail">
                                        <div class="sticky-product-name">
                                            <h3 class="product-title w-100 ls-0" th:text="${product.ProductName}"></h3>
                                            <div class="price-box">
                                                <span class="old-price"  th:text="${product.OrgPrice}"></span>
                                                <span class="product-price" th:text="${product.DiscountedPrice}"></span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:60%"></span>
                                                <!-- End .ratings -->
                                            </div>
                                            <!-- End .product-ratings -->

                                            
                                        </div>
                                        <!-- End .product-container -->
                                    </div>
                                    <!-- End .sticky-detail -->

                                    <div class="product-action d-none">
                                        <div class="product-single-qty">
                                            <input class="horizontal-quantity form-control" type="text">
                                        </div>
                                        <!-- End .product-single-qty -->

                                    </div>
                                    <!-- End .product-action -->
                                </div>
                                <!-- end .container -->
                            </div>
                            <!-- end .sticky-header -->

                            <div class="product-action">


                                <div class="product-single-qty">
                                    <input class="horizontal-quantity form-control" type="text">
                                </div>
                                <!-- End .product-single-qty -->
                                 <a href="wishlist.html" class="btn-icon-wish add-wishlist" title="Add to Wishlist"><i
                                        class="icon-wishlist-2"></i><span>Add to
                                        Wishlist</span></a>

                            </div>
                            <!-- End .product-action -->
                            
                            <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-detailDesc" data-toggle="tab" href="#product-detailDesc-content" role="tab" aria-controls="product-detailDesc-content" aria-selected="false">Details</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">Shippinfo</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false" th:text="'REVIEWS (' + ${product.totalReviewCount} + ')'"></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                            <div class="product-desc-content" >
                               <span th:utext="${product.DetailDescription}"></span>
                            </div>
                            <!-- End .product-desc-content -->
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-detailDesc-content" role="tabpanel" aria-labelledby="product-tab-detailDesc">
                            <div class="product-detailDesc-content" >
                               <span th:text="'🧶Fabric : ' +${product.fabric}"></span>
                               <br>
                               <span th:utext="'📐Size : ' + ${product.detailSize}"></span>
                            </div>
                            <!-- End .product-detailDesc-content -->
                        </div>
                        
						<!-- 배송 정보 > 이건 값에 따라 달라지지 않으니까 -->
                        <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
                            <div class="shippinfo-content">
                            <ul>
								<li>📌If the total payment is less than 30,000 won, an additional 3,000 won shipping fee will be added.</li>
								<li> 📌For Jeju or islands and mountains areas, there is no additional cost for the initial order.</li>
								<li> 📌Please note that an additional delivery fee of KRW 3,000 will be incurred for exchanges and refunds.</li>
								<li> 📌Delivery preparation takes an average of 3-7 business days.</li>
								<li> 📌We will inform you individually if delivery is delayed, out of stock, or product details change.</li>
                            </ul>
                            </div>
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews">
						    <div class="product-reviews-content">
						        <h3 class="reviews-title" th:text=" ${product.totalReviewCount == 0 ? 'There is no REVIEW of this product yet' : product.totalReviewCount + ' review for ' + product.ProductName}"></h3>
						        
						        <div class="comment-list" th:if="${product.totalReviewCount > 0}">
						            <div class="comments">
						                <figure class="img-thumbnail">
						                    <img src="/usr/images/blog/review.jpg" alt="review" width="80" height="80" >
						                </figure>
						
						                <div class="comment-block">
						                    <div class="comment-header">
						                        <div class="comment-arrow"></div>
						
						                        <div class="ratings-container float-sm-right">
						                            <div class="product-ratings">
						                                <span class="ratings" style="width:60%"></span>
						                                <!-- End .ratings -->
						                                <span class="tooltiptext tooltip-top"></span>
						                            </div>
						                            <!-- End .product-ratings -->
						                        </div>
						
						                        <span class="comment-by">
						                            <a>♥<strong th:text="${product.name}"></strong> – <span th:text="${product.revRegDateTime}"></span>
						                        </span>
						                    </div>
						
						                    <div class="comment-content">
						                        <a th:text="${product.ReviewContent}"></a>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						    
                                <div class="divider"></div>

                                <div class="add-product-review">
                                    <h3 class="review-title">Add a review</h3>

							<form action="ReviewInsert" id="formInsert" name="formInsert" method="post" class="comment-form m-0">
							    <!-- 현재 페이지의 상품 시퀀스와 리뷰 테이블의 상품 시퀀스 부분 매칭 -->
							    <input type="hidden" name="productSeq" value="${productSeq}">
    
							    <!-- form 내용 -->
							    <div class="rating-form">
							        <label for="rating">Your rating <span class="required">*</span></label>
							        <span class="rating-stars">
							            <a class="star-1" href="#" th:text="${1}">1</a>
							            <a class="star-2" href="#" th:text="${2}">2</a>
							            <a class="star-3" href="#" th:text="${3}">3</a>
							            <a class="star-4" href="#" th:text="${4}">4</a>
							            <a class="star-5" href="#" th:text="${5}">5</a>
							            <div class="invalid-feedback" id="reviewScoreCDFeedback"></div>
							        </span>
							
							        <select name="reviewScoreCD" id="reviewScoreCD" required style="display: none;">
							            <option value="">Rate…</option>
							            <option value="5">Perfect</option>
							            <option value="4">Good</option>
							            <option value="3">Average</option>
							            <option value="2">Not that bad</option>
							            <option value="1">Very poor</option>
							        </select>
							    </div>
							
							    <div class="form-group">
							        <label>Your review <span class="required">*</span></label>
							        <textarea name="ReviewContent" id="ReviewContent" cols="5" rows="6" class="form-control form-control-sm"></textarea>
							        <div class="invalid-feedback" id="ReviewContentFeedback"></div>
							    </div>
							    <!-- End .form-group -->
							
<!-- 							    <div class="col-md-12 mb-3">
							        <input type="submit" name="btnAdd" id="btnInsert"class="btn btn-primary" value="Submit" style="float : right;">
							    </div> -->
							    <div class="col-md-12 mb-3">
							        <!-- 추가 버튼 -->
							        <button type="button" id="btnAdd" class="btn btn-secondary" style="float: right;">ADD</button>
							    </div>
							</form>

                                </div>
                                <!-- End .add-product-review -->
						</div>

                            </div>
                            <!-- End .product-reviews-content -->
                        </div>
                        <!-- End .tab-pane -->
                    </div>
                    <!-- End .tab-content -->
                </div>
                <!-- End .product-single-tabs -->

                            <!-- End .product single-share -->
                        </div>
                        <!-- End .product-single-details -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .product-single-container -->

                
            </div>
            <!-- End .container -->
        </main>
        <!-- End .main -->
		<div th:replace="~{/usr/infra/v1/include/Footer :: Footer}"></div>


    <!-- Plugins JS File -->
    <script src="/usr/js/jquery.min.js"></script>
    <script src="/usr/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="/usr/js/main.min.js"></script>
    
    <script src="/adm/js/validationXdm.js"></script>
    
    <script>
	  //가격 관련 스크립트
    function formatPriceElements() {
        // HTML 요소를 가져와서 가격 포맷팅 적용
        var oldPriceElements = document.querySelectorAll('.old-price');
        var productPriceElements = document.querySelectorAll('.new-price');

        oldPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });

        productPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });
    }

    // 가격 포맷팅 함수
    function formatPrice(price) {
        // 세 자리마다 컴마 추가
        var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        // '원'을 추가하여 반환
        return "₩" + formattedPrice ;
    }

    // 문서 로드 후에 실행
    document.addEventListener('DOMContentLoaded', function() {
        formatPriceElements();
    });

    </script>
</body>

</html>