<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/logo-dear.png">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
        <div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>


        <main class="main">
            <div class="container pt-120">
                <nav aria-label="breadcrumb" class="breadcrumb-nav" style="padding-top : 100px">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a>Shop</a></li>
                        <li class="breadcrumb-item"><a th:text="${product.ProductName}"></a></li>
                    </ol>
                </nav>
                <div class="product-single-container product-single-default">
                    <div class="cart-message d-none">
                        <strong class="single-cart-notice">“Men Black Sports Shoes”</strong>
                        <span>has been added to your cart.</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 product-single-gallery">
                            <div class="product-slider-container">
<!-- 								<div class="label-group">
								    <div th:if="${product != null and (product.prodStockCD == 7)}" class="product-label label-hot">NEW</div>
								    <div th:if="${product != null and (product.prodStockCD == 8)}" class="product-label label-sale">BEST</div>
								    <div th:if="${product != null and (product.prodStockCD == 9)}" class="product-label " style="background-color: rgb(96, 133, 165);">RESTOCK</div>
								</div> -->
                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj1.jpg" data-zoom-image="/usr/images/products/zoom/mj1.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj2.jpg" data-zoom-image="/usr/images/products/zoom/mj2.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj3.jpg" data-zoom-image="/usr/images/products/zoom/mj3.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="/usr/images/products/zoom/mj4.jpg" data-zoom-image="/usr/images/products/zoom/mj4.jpg" width="468" height="468" alt="product" />
                                    </div>
                                  
                                </div>
                                <!-- End .product-single-carousel -->
                                <span class="prod-full-screen">
                                    <i class="icon-plus"></i>
                                </span>
                            </div>

                            <div class="prod-thumbnail owl-dots">
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj1.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj2.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj3.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="/usr/images/products/zoom/mj4.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                            </div>
                        </div>
                        <!-- End .product-single-gallery -->

                        <div class="col-lg-7 col-md-6 product-single-details">

                                    <strong>
                                      			<a th:if="${product.category1CD != null}" th:text="${@codeService.selectOneCachedCode(product.category1CD)}"></a>
						                        <a th:unless="${product.category1CD != null}" th:text="${product.category1CD}"></a>
						                        <a th:if="${product.category2CD != null}" th:text="${@codeService.selectOneCachedCode(product.category2CD)}"></a>
						                        <a th:unless="${product.category2CD != null}" th:text="${product.category2CD}"></a>
						            </strong>
                            <h1 class="product-title" th:text="${product.ProductName}"></h1>
                            
						
	
                            <div class="ratings-container" >
                            	<div class="product-ratings">
                                     <span class="ratings" th:if="${product.reviewRateAvg==5}" style="width:100%"></span>
								     <span class="ratings" th:if="${product.reviewRateAvg==4}" style="width:80%"></span>
								     <span class="ratings" th:if="${product.reviewRateAvg==3}" style="width:60%"></span>
								     <span class="ratings" th:if="${product.reviewRateAvg==2}" style="width:40%"></span>
								     <span class="ratings" th:if="${product.reviewRateAvg==1}" style="width:20%"></span>
									 <span class="ratings" th:if="${product.reviewRateAvg==null}" style="width:0%"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
		                           
                                <a style="padding : 0; margin : 0;" href="#" class="rating-link" th:text="'(' + ${product.totalReviewCount} + ' Reviews)'" ></a>
                            </div>
                            <!-- End .ratings-container -->

                            <hr class="short-divider">

                            <div class="price-box">
                                <span class="old-price" th:text="${product.OrgPrice}"></span>
                                <span class="new-price" th:text="${product.DiscountedPrice}"></span>
                            </div>
                            <!-- End .price-box -->

<!--                             <div class="product-desc">
                                <span th:text="${product.ProductDescription}"></span>
                            </div> -->
                            <!-- End .product-desc -->

                            <ul class="single-info-list">
                                <!---->



                            </ul>

							<hr class="divider mb-3 mt-0">
							<div class="selectedOptionsList">
                                <div class="product-single-filter">
								    <label>Size:</label>
								    <ul class="config-size-list">
								        <li class="size" th:each="size : ${prodSize}" th:data-size="${size.size}"><a class="d-flex align-items-center justify-content-center" th:text="${size.size}"></a></li>
								    </ul>
								</div>
								
								<div class="product-single-filter">
								    <label>Color:</label>
								    <ul class="config-size-list">
								        <li class="color" th:each="color : ${prodColor}" th:data-color="${color.memo}">
								         <a class="d-flex align-items-center justify-content-center"
								         th:style="'background-color: ' + ${color.color} + '; border-radius: 50%; height: 33px;'">
            							</a>
<!--											<a class="d-flex align-items-center justify-content-center" th:text="${color.memo}"></a>-->
										</li>
								    </ul>
								</div>

								
								<!-- 사이즈, 색상 선택한 후 초기화 버튼 -->
                                <div class="product-single-filter">
                                    <a class="font1 text-uppercase clear-btn" href="#">Clear</a>
                                </div>
                                <!---->
                            </div>
                           


                            <div class="product" data-product-id="${product.productSeq}">
							    <div class="product-action">
							        <div class="product-single-qty">
							            <input class="horizontal-quantity form-control" type="text">
							        </div>
							        <!-- End .product-single-qty -->
										<div class="action mt-3">
											<a id="addToWishlist" href="#" style="padding-right : 30px;">
											    <i class="icon-wishlist-2"></i>
											    <span>Add to Wishlist</span>
											</a>
											<a id="goToPurchaseButton" href="#">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
												  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
												</svg>
												<span>Go To Buy</span>
											</a>
										</div>
							    </div>
							</div>
							<hr class="divider mb-3 mt-2">

                            <!-- End .product-action -->

                            <!-- End .product-action -->
                            
                            <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-detailDesc" data-toggle="tab" href="#product-detailDesc-content" role="tab" aria-controls="product-detailDesc-content" aria-selected="false">Details</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">Shippinfo</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false" th:text="'REVIEWS (' + ${product.totalReviewCount} + ')'"></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                            <div class="product-desc-content" >
                               <span th:utext="${product.DetailDescription}"></span>
                            </div>
                            <!-- End .product-desc-content -->
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-detailDesc-content" role="tabpanel" aria-labelledby="product-tab-detailDesc">
                            <div class="product-detailDesc-content" >
                               <span th:text="'🧶Fabric : ' +${product.fabric}"></span>
                               <br>
                               <span th:utext="'📐Size : ' + ${product.detailSize}"></span>
                            </div>
                            <!-- End .product-detailDesc-content -->
                        </div>
                        
						<!-- 배송 정보 > 이건 값에 따라 달라지지 않으니까 -->
                        <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
                            <div class="shippinfo-content">
                            <ul>
								<li>📌If the total payment is less than 30,000 won, an additional 3,000 won shipping fee will be added.</li>
								<li> 📌For Jeju or islands and mountains areas, there is no additional cost for the initial order.</li>
								<li> 📌Please note that an additional delivery fee of KRW 3,000 will be incurred for exchanges and refunds.</li>
								<li> 📌Delivery preparation takes an average of 3-7 business days.</li>
								<li> 📌We will inform you individually if delivery is delayed, out of stock, or product details change.</li>
                            </ul>
                            </div>
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews"  >
						    <div class="product-reviews-content">
						        <h3 class="reviews-title" th:text=" ${product.totalReviewCount == 0 ? 'There is no REVIEW of this product yet' : product.totalReviewCount + ' review for ' + product.ProductName}"></h3>
						            <span th:unless="${session.authenticatedMember != null and session.sessSeqUsr != null}" style="padding-left : 12%; padding-bottom : 10%; ">( <a th:href="@{/recorded/Login}">Login</a> to Add Review)</span>
						        <div class="comment-list" th:if="${product.totalReviewCount > 0}">
						            <div class="comments mt-1" th:each="review : ${prodReview}">
						                <figure class="img-thumbnail">
						                    <img src="/usr/images/blog/reviewR.jpg" alt="review" width="80" height="80" >
						                </figure>
										
						                <div class="comment-block mb-1" >
						                    <div class="comment-header">
						                        <div class="comment-arrow"></div>
						                        <!-- 리뷰 별점 s -->
						                        <div class="ratings-container float-sm-right">
						                            <div class="product-ratings">
						                                <span class="ratings" th:if="${review.reviewRate==5}" style="width:100%"></span>
						                                <span class="ratings" th:if="${review.reviewRate==4}" style="width:70%"></span>
						                                <span class="ratings" th:if="${review.reviewRate==3}" style="width:50%"></span>
						                                <span class="ratings" th:if="${review.reviewRate==2}" style="width:39%"></span>
						                                <span class="ratings" th:if="${review.reviewRate==1}" style="width:18%"></span>
						                                <!-- 리뷰 별점 e -->
						                                <span class="tooltiptext tooltip-top"></span>
						                            </div>
						                            <!-- End .product-ratings -->
						                        </div>
						                        
						                        <span class="comment-by">
						                           <a>♥ <strong th:text="${review.revName}"></strong> – <span th:text="${review.revRegDateTime}"></span></a>

						                        </span>
						                    </div>
						
						                    <div class="comment-content">
						                        <a th:text="${review.ReviewContent}"></a>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						    
                                <div class="divider"></div>
								
                                <div class="add-product-review" th:if="${session.authenticatedMember != null and session.sessSeqUsr != null}">
                                
                                    <h3 class="review-title">Add a review</h3>
                                   
										<form action="ReviewInsert" id="formInsert" name="formInsert" method="post" class="comment-form m-0">
			    
			    							    <!-- form 내용 -->
										    <div class="rating-form">
										        <label for="rating">Your rating <span class="required">*</span></label>
										        <!-- 밑에 input 두 개는 hidden으로 변경 예정 -->
										        <input type="hidden" name="Product_seq" id="productSeq" th:value="${product.productSeq}">
												<input type="hidden" name="Member_seq" id="memberSeq" th:value="${session.sessSeqUsr}">
			
											        <span class="rating-stars">
													    <a class="star-1" href="#" th:text="${1}" >1</a>
													    <a class="star-2" href="#" th:text="${2}">2</a>
													    <a class="star-3" href="#" th:text="${3}">3</a>
													    <a class="star-4" href="#" th:text="${4}">4</a>
													    <a class="star-5" href="#" th:text="${5}">5</a>
													</span>
																			
										        <select name="reviewRate" id="reviewRate" required style="display: none;">
										            <option value="">Rate…</option>
										            <option value="5">Perfect</option>
										            <option value="4">Good</option>
										            <option value="3">Average</option>
										            <option value="2">Not that bad</option>
										            <option value="1">Very poor</option>
										        </select>
										    </div>
										    
										    <div class="form-group">
										        <label>Your review <span class="required">*</span></label>
										        <textarea name="ReviewContent" id="ReviewContent" cols="5" rows="6" class="form-control form-control-sm"></textarea>
										        <div class="invalid-feedback" id="ReviewContentFeedback"></div>
										    </div>
			
										    <div class="col-md-12 mb-3">
										        <button type="submit" id="btnAdd" class="btn btn-secondary" style="float: right;">ADD</button>
										    </div>
										</form>

                                </div>
                                <!-- End .add-product-review -->
                             
						</div>

                            </div>
                            <!-- End .product-reviews-content -->
                        </div>
                        <!-- End .tab-pane -->
                    </div>
                    <!-- End .tab-content -->
                </div>
                <!-- End .product-single-tabs -->

                            <!-- End .product single-share -->
                        </div>
                        <!-- End .product-single-details -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .product-single-container -->

                
            </div>
            <!-- End .container -->
			
			<!-- 로그인 정보가 필요할 때 모달 -->
			<div class="modal" id="loginModal" style="width:25%; position : fix; left : 35%; top : 5%;">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <!-- 모달 헤더 -->
			      <div class="modal-header">
			        <h5 class="modal-title">Notification</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <!-- 모달 본문 -->
			      <div class="modal-body">
			        로그인 후 이 작업을 계속하실 수 있습니다.
			      </div>
			    </div>
			  </div>
			</div>
			<script>
				function hideModal(event) {
				    if (event.target.id === 'loginModal') {
				        $('#loginModal').hide();
				    }
				}
			</script>

        </main>
        <!-- End .main -->
		<div th:replace="~{/usr/infra/v1/include/Footer :: Footer}"></div>


    <!-- Plugins JS File -->
    <script src="/usr/js/jquery.min.js"></script>
    <script src="/usr/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="/usr/js/main.min.js"></script>
    
    <script>
	  //가격 관련 스크립트
    function formatPriceElements() {
        // HTML 요소를 가져와서 가격 포맷팅 적용
        var oldPriceElements = document.querySelectorAll('.old-price');
        var productPriceElements = document.querySelectorAll('.new-price');
        
        oldPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });

        productPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });
    }

    // 가격 포맷팅 함수
    function formatPrice(price) {
        // 세 자리마다 컴마 추가
        var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        // '원'을 추가하여 반환
        return "₩" + formattedPrice ;
    }

    // 문서 로드 후에 실행
    document.addEventListener('DOMContentLoaded', function() {
        formatPriceElements();
    });

    // Clear 버튼을 클릭하면 선택한 옵션을 초기화
    document.querySelector('.clear-btn').addEventListener('click', function () {
        document.getElementById('selectedOptionsList').innerHTML = '';
    });
    
    $(document).ready(function() {
        $('#btnAdd').click(function(event) {
            // 입력 폼 유효성 검사
            var reviewContent = $('#ReviewContent').val();
            if (reviewContent.trim() === '') {
                $('#ReviewContent').addClass('is-invalid'); // 빨간색 테두리 추가
                $('#ReviewContentFeedback').text('Please select your score and enter the content'); // 오류 메시지 표시
                event.preventDefault(); // 폼 제출 방지
            } else {
                $('#ReviewContent').removeClass('is-invalid'); // 오류가 없는 경우 테두리 제거
                $('#ReviewContentFeedback').text(''); // 오류 메시지 지우기
            }

            // 평점 선택 상자 유효성 검사
            var reviewRate = $('#reviewRate').val();
            if (reviewRate === '') {
                $('#reviewRate').addClass('is-invalid'); // 빨간색 테두리 추가
                event.preventDefault(); // 폼 제출 방지
            } else {
                $('#reviewRate').removeClass('is-invalid'); // 오류가 없는 경우 테두리 제거
            }
        });
    });

 // 리뷰 제출
    document.getElementById('formInsert').addEventListener('submit', function(event) {
        event.preventDefault(); 
        

     // 세션에 저장된 회원 시퀀스 가져오기
        var memberSeq = sessionStorage.getItem('sessSeqUsr');

        // 세션에 저장된 회원 시퀀스 출력
        console.log('세션에 저장된 회원 시퀀스:', memberSeq);

        var formData = new FormData(this); // 폼 데이터 가져옴
        
        var productSeq = document.getElementById('productSeq').value;
        var memberSeq = document.getElementById('memberSeq').value;


        // 폼 데이터에 디폴트 값 줌
        formData.append('delNY', '0');

        var xhr = new XMLHttpRequest(); // AJAX 요청을 생성
        xhr.open('POST', '/ReviewInsert', true); 
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) { // 요청이 완료되면
                if (xhr.status === 200) { // 성공적인 응답을 받으면
                    document.getElementById('ReviewContent').value = ''; // 리뷰 input 초기화
                    location.reload(); // 페이지 새로고침
                }
            }
        };
        xhr.send(formData); // 폼 데이터 서버 전송

    function setReviewRate(rate) {
        review.reviewRate = rate; 
    }
});

//위시리스트 인서트 코드
$(document).ready(function() {
    // 색상 선택
    $('.config-size-list .color').click(function() {
        // 기존에 선택된 항목의 클래스 제거
        $('.config-size-list .color').removeClass('selected');
        // 클릭된 항목에 선택 클래스 추가
        $(this).addClass('selected');
        var selectedColor = $(this).data('color'); // 선택된 색상 값 가져오기
        alert('선택된 색상: ' + selectedColor);
    });

    // 사이즈 선택
    $('.config-size-list .size').click(function() {
        // 기존에 선택된 항목의 클래스 제거
        $('.config-size-list .size').removeClass('selected');
        // 클릭된 항목에 선택 클래스 추가
        $(this).addClass('selected');
        var selectedSize = $(this).data('size'); // 선택된 사이즈 값 가져오기
        alert('선택된 사이즈: ' + selectedSize);
    });

    $('#addToWishlist').click(function(event) {
        alert('일단 눌리긴 함');
        event.preventDefault(); // 기본 동작 방지
        
        // 선택한 색상, 사이즈, 수량 정보 가져오기
        var selectedColor = $('.config-size-list .color.selected').data('color');
        var selectedSize = $('.config-size-list .size.selected').data('size');
        var quantity = parseInt($('.horizontal-quantity').val());

        // 현재 페이지의 상품 시퀀스 가져오기
        var productSeq = $('#productSeq').val();

        // 로그인된 회원의 세션 값 가져오기
        var memberSeq = sessionStorage.getItem('sessSeqUsr');

        // 위시리스트에 추가할 데이터 객체 생성
        var data = {
            Member_memberSeq: memberSeq,
            Product_productSeq: productSeq,
            delNY: 0, // 기본값은 0으로 설정
            size: selectedSize,
            color: selectedColor,
            ea: quantity
        };

        // AJAX를 사용하여 위시리스트에 추가하는 요청 보내기
        $.ajax({
            type: 'POST',
            url: '/insertWishlist',
            data: data,
            success: function(response) {
                // 위시리스트에 성공적으로 추가되면 알림창 또는 다른 동작 수행
                alert('위시리스트 추가 성공');
            },
            error: function(xhr, status, error) {
                // 오류 발생 시 처리
                alert('위시리스트 추가 실패');
            }
        });
    });
});




</script>
</body>

</html> 