<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Me O My</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/icons/logo-brain.jpeg">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
        <div th:replace="~{usr/infra/v1/include/Header :: Header}"></div>

		<main class="main">
			
			<div class="container login-container mb-10" style="height : 800px">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<div class="row mt-5">
							<div class="col-md-6 mt-5">
								<div class="heading mb-1">
									<h2 class="title mt-8">Register</h2>
									<h4 class="title">Basic Info</h4>
								</div>

								<form name="formInsert" id="formInsert" method="post" action="/memberInsert">
									<label for="register-id">
										ID
										<span class="required">*</span>
									</label>
									<input type="text" class="form-control" id="ID" name="ID">
									<div class="invalid-feedback" id="IDFeedback"></div>

									<label for="register-password">
										Password
										<span class="required">*</span>
									</label>
									<input type="password" class="form-control" id="pwd" name="pwd">
									<div class="invalid-feedback" id="pwdFeedback"></div>
									
									<label for="register-password">
										Password Check
										<span class="required">*</span>
									</label>
									<input type="password" class="form-control" id="confirmPwd" name="confirmPwd">
									<div class="invalid-feedback" id="confirmPwdFeedback"></div>

									<label for="register-email">
										email
										<span class="required">*</span>
									</label>
									<input type="text" class="form-control" id="email" name="email">
									<div class="invalid-feedback" id="emailFeedback"></div>

										<label for="register-email">
											name
											<span class="required">*</span>
										</label>
										<input type="text" id="name" name="name" class="form-control" />
										<div class="invalid-feedback" id="nameFeedback"></div>
								
							</div>

							<div class="col-md-6 mt-10">
								<div class="heading mb-1 mt-9">
									<h4 class="title">Additional Info</h4>
								</div>

									<label for="register-birthday">
										BirthDay [yyyy - mm - dd]</label>
									<input type="bitrhday" class="form-input form-wide" id="register-birthday" >
									<div class="invalid-feedback" id="birthdayFeedback"></div>

								<div class="mt-5" id="genderCD" name="genderCD">

									<label for="register-gender">Gender</label>
									<input id="register-gender1" name="register-gender" value="1" type="radio" autocomplete="off">
									<label for="gender1">Male</label>
								
									<input id="register-gender2" name="register-gender" value="2" type="radio" autocomplete="off">
									<label for="gender2">Female</label>

									<input id="register-gender3" name="register-gender" value="3" type="radio" autocomplete="off">
									<label for="gender3">etc.</label>
									
									<div class="invalid-feedback" id="genderCDFeedback"></div>
								</div>

								<div class="mt-2">
									<label for="register-mobile">
										Mobile</label>
									<input type="text" class="form-control" id="MobileNum" name="MobileNum">
									<div class="invalid-feedback" id="MobileNumFeedback"></div>
								</div>

								<div class="form-footer  mt-10" style="width : 300px; float : right">
									<button type="submit" th:href="@{/recorded/Welcome}" id="btnInsert"class="btn btn-dark btn-md w-100 mr-0">
										Register
									</button>
								</div>
								
							</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main><!-- End .main -->

	<div th:replace="~{usr/infra/v1/include/Footer :: Footer}"></div>

	<!-- Plugins JS File -->
	<script src="/usr/js/jquery.min.js"></script>
	<script src="/usr/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/usr/js/main.min.js"></script>
	
	 <!--  Validation JS -->
    <script src="/usr/js/validationXdm.js"></script>
	
	<script>
	    $(document).ready(function () {
			$(document).ready(function () {
			    // 생일 입력 필드에서 포커스를 잃으면 형식을 변환
			    $("#register-birthday").blur(function () {
			        var value = $(this).val().trim();
			        if (value.length === 8 && /^\d+$/.test(value)) {
			            var year = value.substring(0, 4);
			            var month = value.substring(4, 6);
			            var day = value.substring(6, 8);
			            var formattedDate = year + "-" + month + "-" + day;
			            $(this).val(formattedDate);
			        }
			        checkInputLength($(this), 10); // 생일 입력 길이 체크
			    });
			
			    // 전화번호 입력 필드에서 포커스를 잃으면 형식을 변환
			    $("#MobileNum").blur(function () {
			        var value = $(this).val().trim();
			        if (value.length === 11 && /^\d+$/.test(value)) {
			            var firstPart = value.substring(0, 3);
			            var secondPart = value.substring(3, 7);
			            var thirdPart = value.substring(7, 11);
			            var formattedNumber = firstPart + "-" + secondPart + "-" + thirdPart;
			            $(this).val(formattedNumber);
			        }
			        checkInputLength($(this), 13); // 전화번호 입력 길이 체크
			    });
			});

	
	        $("#btnInsert").click(function (event) {
	            event.preventDefault(); // 폼 제출 방지
	
	            // 모든 필드에 대한 유효성 검사
	            var isValid = validateForm();
	            if (isValid) {
	                // 회원가입 처리를 위해 AJAX 요청을 보냅니다.
	                $.ajax({
	                    type: "POST",
	                    url: "/register", // 회원가입 처리를 담당하는 컨트롤러 경로
	                    data: $("#formInsert").serialize(), // 폼 데이터를 직렬화하여 전송
	                    success: function (response) {
	                        // 회원가입 성공 시 리다이렉트 또는 알맞은 처리
	                       console.log("회원가입이 완료되었습니다.");
	                        window.location.href = "/recorded/Welcome"; // 로그인 페이지로 이동
	                    },
	                    error: function (xhr, status, error) {
	                        // 회원가입 실패 시 알맞은 처리
	                        console.log("회원가입 ");
	                    }
	                });
	            }
	        });
	
			// 모든 필드에 대한 유효성 검사
			function validateForm() {
			    var isValid = true;
			
			    // ID 필드 유효성 검사 (영문, 숫자만 가능)
			    var id = $("#ID").val().trim();
			    if (id === "") {
			        $("#ID").addClass("is-invalid");
			        $("#IDFeedback").text("ID를 입력하세요.").show();
			        isValid = false;
			    } else if (!/^[a-zA-Z0-9]+$/.test(id)) {
			        $("#ID").addClass("is-invalid");
			        $("#IDFeedback").text("영문자와 숫자로만 이루어진 ID를 입력하세요.").show();
			        isValid = false;
			    } else {
			        $("#ID").removeClass("is-invalid");
			        $("#IDFeedback").hide();
			    }
			
			    // 비밀번호 필드 유효성 검사 (제한 없음)
			    var pwd = $("#pwd").val().trim();
			    if (pwd === "") {
			        $("#pwd").addClass("is-invalid");
			        $("#pwdFeedback").text("비밀번호를 입력하세요.").show();
			        isValid = false;
			    } else {
			        $("#pwd").removeClass("is-invalid");
			        $("#pwdFeedback").hide();
			    }
			
			    // 비밀번호 확인 필드 유효성 검사 (앞서 입력한 비밀번호와 일치해야 함)
			    var confirmPwd = $("#confirmPwd").val().trim();
			    if (confirmPwd === "") {
			        $("#confirmPwd").addClass("is-invalid");
			        $("#confirmPwdFeedback").text("비밀번호 확인을 입력하세요.").show();
			        isValid = false;
			    } else if (confirmPwd !== pwd) {
			        $("#confirmPwd").addClass("is-invalid");
			        $("#confirmPwdFeedback").text("비밀번호가 일치하지 않습니다.").show();
			        isValid = false;
			    } else {
			        $("#confirmPwd").removeClass("is-invalid");
			        $("#confirmPwdFeedback").hide();
			    }
			
			    // Email 필드 유효성 검사 (영문, 숫자, 특수문자 + @ 및 .com과 같은 내용 필수)
			    var email = $("#email").val().trim();
			    if (email === "") {
			        $("#email").addClass("is-invalid");
			        $("#emailFeedback").text("이메일을 입력하세요.").show();
			        isValid = false;
			    } else if (!/^[\w.-]+@[a-zA-Z\d]+\.[a-zA-Z]{2,}$/.test(email)) {
			        $("#email").addClass("is-invalid");
			        $("#emailFeedback").text("올바른 이메일 형식이 아닙니다.").show();
			        isValid = false;
			    } else {
			        $("#email").removeClass("is-invalid");
			        $("#emailFeedback").hide();
			    }
			
			    // 이름 필드 유효성 검사 (영문, 한국어만 가능)
			    var name = $("#name").val().trim();
			    if (name === "") {
			        $("#name").addClass("is-invalid");
			        $("#nameFeedback").text("이름을 입력하세요.").show();
			        isValid = false;
			    } else if (!/^[가-힣a-zA-Z\s]+$/.test(name)) {
			        $("#name").addClass("is-invalid");
			        $("#nameFeedback").text("한글과 영문자로만 이루어진 이름을 입력하세요.").show();
			        isValid = false;
			    } else {
			        $("#name").removeClass("is-invalid");
			        $("#nameFeedback").hide();
			    }
			
			    // 생일 필드 유효성 검사 (숫자만 입력 가능)
			    var birthday = $("#register-birthday").val().trim();
			    if (birthday === "") {
			        $("#register-birthday").addClass("is-invalid");
			        $("#birthdayFeedback").text("생일을 입력하세요.").show();
			        isValid = false;
			    } else {
			        $("#register-birthday").removeClass("is-invalid");
			        $("#birthdayFeedback").hide();
			    }
			
			    // 전화번호 필드 유효성 검사 (숫자만 입력 가능)
			    var mobileNum = $("#MobileNum").val().trim();
			    if (mobileNum === "") {
			        $("#MobileNum").addClass("is-invalid");
			        $("#MobileNumFeedback").text("전화번호를 입력하세요.").show();
			        isValid = false;
			    } else {
			        $("#MobileNum").removeClass("is-invalid");
			        $("#MobileNumFeedback").hide();
			    }
			
			    // 성별 필드 유효성 검사 (라디오 버튼 그룹)
			    var selectedGender = $("input[name='register-gender']:checked").val();
			    if (!selectedGender) {
			        $("#genderCDFeedback").text("성별을 선택하세요.").show();
			        isValid = false;
			    } else {
			        $("#genderCDFeedback").hide();
			    }
			
			    // 기타 필드에 대한 유효성 검사를 추가하세요.
			
			    return isValid; // 모든 필드가 유효하면 true 반환
			}

	
	        // 입력 필드의 글자 수를 체크하여 지정된 길이를 넘으면 입력을 막습니다.
	        function checkInputLength(inputField, maxLength) {
	            var value = inputField.val().trim();
	            if (value.length >= maxLength) {
	                inputField.val(value.substring(0, maxLength)); // 입력 필드의 값이 최대 길이에 도달하면 잘라냅니다.
	                inputField.attr("maxlength", maxLength); // 최대 길이를 설정하여 추가 입력을 막습니다.
	            } else {
	                inputField.removeAttr("maxlength"); // 최대 길이 설정을 제거하여 추가 입력을 허용합니다.
	            }
	        }
	    });
	</script>



</body>

</html>