<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/icons/logo-brain.jpeg">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">

		<main class="main">
			
			<div class="container login-container" style="min-height : 100%">
				<div class="row mt-3 justify-content-center">
					<div class="col-4 mt-10">

								<div class="heading mb-1">
									<h2 class="title" style="text-align: center;">Welcome!</h2>
								</div>

								<div class="row justify-content-center">
									<img src="/usr/images/welcome.png" style="width : 400px; padding-top : 50px">
									<h5 style="padding-top : 50px">
										♡ I hope U have a great time at our Shopping Mall ♡
										<br>

									</h5>

								</div>
								<div class="row justify-content-center mb-10">
									<div class="col-5">
										<a th:href="@{/recorded}" class="btn btn-md w-100 mt-3" style="background-color : #eeeeee;">Shop</a>
									</div>

									
									<div class="col-5">
										<a th:href="@{/MyPage/Dashboard}" class="btn btn-md w-100 mt-3" style="background-color : #eeeeee;">My Page</a>
									</div>
								</div>
								</form>

					</div>
				</div>
			</div>
		</main><!-- End .main -->


	<!-- Plugins JS File -->
	<script src="/usr/js/jquery.min.js"></script>
	<script src="/usr/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/usr/js/main.min.js"></script>
</body>

</html>