<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/usr/images/icons/logo-brain.jpeg">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/usr/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usr/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usr/css/demo3.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/usr/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body class="full-screen-slider">
    <div class="page-wrapper">
		<div th:replace="~{/usr/infra/v1/include/Header :: Header}"></div>
        


		<main class="main">
			<div class="page-header">
				<div class="container d-flex flex-column align-items-center">
					<nav aria-label="breadcrumb" class="breadcrumb-nav">
						<div class="container">
							<div class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
								<li class="breadcrumb-item"><a href="category.html">MyPage</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									Wishlist
								</li>
							</ol>
						</div>
					</div>
					</nav>

					<h3>My Wishlist</he>
				</div>
			</div>
				<div th:replace="~{/usr/infra/v1/include/MyPage :: SideBar}"></div>
					<div class="col-10 mt-3">
						<div class="tab-pane fade show active" id="dashboard" role="tabpanel">
                        

            <div class="container ">
                <div class="wishlist-title">
                    <i class="bi bi-cart3"></i><h2 class="p-2 mt-3">My wishlist</h2>
                </div>
                <div class="wishlist-table-container col-12 justify-content-center">
                	
                			<div class="card" style="width: 40%;" th:each="wishlist : ${wishlist}" th:if="${wishlist.delNY == 0}">
								  <div class="card-body">
								    	<div class="row" >
								    		<div class="col-3">
									    		 <a th:href="@{/recorded/Shop/Product(productSeq=${wishlist.productSeq}, ProductName=${wishlist.ProductName})}"  class="product-image">
	                                            <img src="/usr/images/products/product-5.jpg" alt="product" style="height : 100px; width : auto;"></a>
	                                        </div>
								    		<div class="col-9">
								    		 	<a th:href="@{/recorded/Shop/Product(productSeq=${wishlist.productSeq}, ProductName=${wishlist.ProductName})}" th:text="${wishlist.ProductName}"  style="text-decoration: none; color: inherit;"></a>
												<div class="price-box mt-2"> 
										          	<span class="old-price" th:text="${wishlist.OrgPrice}"></span>
										          	<span class="product-price" th:text="${wishlist.DiscountedPrice}"></span>
							          			</div>
							          			
								    		</div>
								  </div>
								</div>
<!--                     <table class="table table-wishlist mb-5" style="margin-left : auto; margin-right : auto;"> -->
<!--                         <thead> -->
<!--                             <tr class="table-th" style="text-align:center;"> -->
<!--                                 <th class="thumbnail-col"></th> -->
<!--                                 <th class="product-col" >PRODUCT</th> -->
<!--                                 <th class="product-count">PRICE</th> -->
<!-- <!--                                 <th class="color-col">COLOR</th> -->
<!-- <!--                                 <th class="size-col">SIZE</th> --> 
<!--                                 <th class="action-col"></th> -->
<!--                             </tr> -->
<!--                         </thead> -->
<!--                         <tbody> -->
                            
<!--                             <tr class="product-row" th:each="wishlist : ${wishlist}" th:if="${wishlist.delNY == 0}"> -->
<!--                                 <td style="text-align:center; vertical-align : middle;"> -->
<!--                                     <figure class="product-image-container"> -->
<!--                                         <a href="product.html" class="product-image"> -->
<!--                                             <img src="/usr/images/products/product-5.jpg" alt="product" style="height : 150px; width : auto;"> -->
<!--                                         </a> -->
<!--                                     </figure> -->
<!--                                 </td> -->
<!--                                 <td style=" vertical-align : middle; max-width : 0px;"> -->
<!--                                 	<div class="product-info"> -->
<!-- 	                                	<span> -->
<!-- 										    <a th:href="@{/recorded/Shop/Product(productSeq=${wishlist.productSeq}, ProductName=${wishlist.ProductName})}" -->
<!-- 										       th:text="${wishlist.ProductName}"></a> -->
<!-- 										</span> -->

                          		
<!--                                 	</div> -->
<!--                                 </td> -->
<!--                                 <td style="text-align : center; vertical-align : middle;"> -->
<!--                                   <div class="price-box mt-2"> -->
<!-- 						          	<span class="old-price" th:text="${wishlist.OrgPrice}"></span> -->
<!-- 						          	<span class="product-price" th:text="${wishlist.DiscountedPrice}"></span> -->
<!-- 						          </div> -->
<!--                                 </td> -->
<!--                                 <td class="action" style="text-align:center; vertical-align : middle; padding: 0; margin: 0;"> -->
<!--                                 	<div class="row"> -->
<!--                                 		<div class="col-12 mt-3"> -->
<!-- 	                                		<a th:href="@{/recorded/Shop/Product(productSeq=${wishlist.productSeq}, ProudctName=${wishlist.ProductName})}" class="btn btn-dark quickview mt-1 mt-md-0 col-3" -->
<!-- 	                                        title="Quick View">View More -->
<!-- 	                                        </a> -->
	                                        
<!--                                 		</div> -->
<!--                                 		<div class="col-12 mt-1"> -->
<!-- 											<form method="post" action="ueleteW">  -->
<!-- 												<input type="hidden" name="seq" th:value="${wishlist.productSeq}"> -->
<!-- 												<input type="hidden" name="delNY" th:value="${wishlist.delNY}"> -->
																		
<!-- 												<button type="submit" class="btn btn"th:href="@{/MyPage/Wishlist}" th:text="Delete" style="width : 25%;"></button> -->
																	
<!-- 											</form> -->
<!--                                 		</div> -->
<!-- <!--                                 		<div class="col-12 mt-1"> --> 
<!-- <!--                                 			<form method="post" action="/wishlistUelete">  --> 
<!-- <!-- 												<input type="hidden" name="seq" th:value="${wishlist.wishlistSeq}" style="display : none"> --> 
<!-- <!-- 												<input type="hidden" name="delNY" th:value="${wishlist.delNY}" style="display : none"> --> 
<!-- <!-- 												<button type="submit" class="btn btn-wishlist-delete product-type-simple btn-shop col-3" > --> 
<!-- <!-- 		                                        	DELETE --> 
<!-- <!-- 		                                    	</button> --> 
<!-- <!-- 										</form> --> 
<!-- <!--                                 		</div> --> 
<!--                                 	</div> -->
<!-- 								</td> -->
<!--                             </tr> -->
<!--                         </tbody> -->
<!--                     </table> -->
                   
                    
                </div><!-- End .cart-table-container -->
<!-- 	                 <div class="text-center mb-3 mr-3" style="float : right; "> -->
<!-- 					    <a th:href="@{/MyPage/CheckOut}" class="btn btn-primary btn-lg mr-5">purchase</a> -->
<!-- 					</div> -->
            </div><!-- End .container -->
        </main><!-- End .main -->

<div th:replace="~{/usr/infra/v1/include/Footer :: Footer}"></div>

    <!-- Plugins JS File -->
    <script src="/usr/js/jquery.min.js"></script>
    <script src="/usr/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="/usr/js/main.min.js"></script>
    
    <script>
    window.onload = function() {
        var hiddenInputs = document.querySelectorAll('input[type="hidden"]');
        hiddenInputs.forEach(function(input) {
            input.style.display = 'none';
        });
    };
    
 // 문서 로드 후에 실행
    document.addEventListener('DOMContentLoaded', function() {
        formatPriceElements();
    });

    // 가격 관련 스크립트
    function formatPriceElements() {
        // HTML 요소를 가져와서 가격 포맷팅 적용
        var oldPriceElements = document.querySelectorAll('.old-price');
        var productPriceElements = document.querySelectorAll('.product-price');
        
        oldPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });

        productPriceElements.forEach(function(element) {
            var price = parseFloat(element.textContent);
            element.textContent = formatPrice(price);
        });
    }

    // 가격 포맷팅 함수
    function formatPrice(price) {
        // 세 자리마다 컴마 추가
        var formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        // '₩'를 추가하여 반환
        return "₩" + formattedPrice ;
    }

</script>

</body>

</html>