
<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupXdmList</title>
    
</head>
<body>

<!-- search s -->
<div id="divSearch" class="container-fluid px-0 pb-3">
	<div class="row row-cols-2 row-cols-sm-6 g-2 px-2">
		<div class="col">
			<select id="shDelNy" name="shDelNy" class="form-select form-select-sm">
				<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
				<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
				<option value="0" th:selected="${vo.shDelNy == 0}">N</option>            
			</select>
		</div>
		
		<div class="col">
			<select id="shOptionDate" name="shOptionDate" class="form-select form-select-sm">
				<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
				<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
				<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
			</select>
		</div>  
		<div class="col">
			<input type="text" id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" placeholder="시작일" class="form-control form-control-sm" autocomplete="off">
		</div>              
		<div class="col">
			<input type="text" id="shDateEnd" name="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="종료일" class="form-control form-control-sm" autocomplete="off">
		</div> 
	</div>
	<div class="row row-cols-2 row-cols-sm-6 g-2 mt-1 px-2">
		<div class="col">
			<select id="shOption" name="shOption" class="form-select form-select-sm">
				<option value="" th:selected="${vo.shOption == null}">검색구분</option>
				<option value="1" th:selected="${vo.shOption == 1}">코드그룹 코드</option>
				<option value="2" th:selected="${vo.shOption == 2}">코드그룹 이름</option>
				<option value="3" th:selected="${vo.shOption == 3}">코드그룹 이름 (영문)</option>
			</select>
		</div>                    
		<div class="col">
			<input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm">
			<div class="invalid-feedback" id="shValueFeedback"></div>
		</div> 
		<div class="col">
			<button type="button" id="btnSearch" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
			<button type="button" id="btnReset" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-rotate-right fa-lg"></i></button>
		</div>    
	</div>
</div>
<!-- search e -->


    <a th:href="@{/codeGroupAdd}" th:text="등록"></a>
    <br>
    
    <table>
    	<tr>
    		<td>ch</td>
    		<td>#</td> <!-- # : thymeleaf를 사용하겠다는 뜻 / html에 데이터베이스에서 불러온 내용을 집어넣겠다는 내용 -->
    		<td>delNY</td>
    		<td>seq</td>
    		<td>name</td>
    		<td>count</td>
    		<td>modDate</td>
    	</tr>
    	
    	<tr th:if="${!#lists.isEmpty(list)}" >
    		<td colspan="6">데이터 없음</td>
    	</tr>
	
    	<tr th:if="${!#lists.isEmpty(list)}" th:each="list:${list}"> <!-- list : ${list} >> for문처럼 list를 사용하겠다는 뜻
    																														${list} >> 앞에서 받아온 list, controller에 있는 이름과 동일하게 사용해야함 
    																														다른 사람의 코드를 수정 없이 사용하기 위해 관례적으로  list를 이름으로 사용함 -->
    	    <td></td>
    		<td></td>
     		<td th:if="${list.delNY eq 0}">N</td>
     		<td th:unless="${list.delNY eq 0}">Y</td>
    		<td th:text="${list.seq}"></td>
    		<!-- 
       		<td th:text="${list.name}"></td>
       		 -->
       		 <td><a th:href="@{/codeGroupView(seq=${list.seq}, name=${list.name}, delNY=${list.delNY})}"  th:text="${list.name}"></a><td>
<!--        		 <td><a href="/codeGroupView?CodeGroup_seq=1"></a><td> -->
       		<td th:text="${list.cdSeqCount}"></td>
     		<td th:text="${#dates.format(list.modDatetime,  'yyyy-MM-dd HH:mm:ss')}"></td>
     		
    	</tr>
    </table>
    
    

</body>
</html>