<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeXdmList</title>
</head>
<body>


    <a th:href="@{/codeAdd}" th:text="등록"></a>
    <br>
    
    
    <table>
    	<tr>
    		<td>CheckBox</td>
    		<td>#</td>
    		<td>CodeGroupSeq</td>
    		<td>CodeGroup Name</td>
    		<td>DelNY</td>
    		<td>CodeSeq</td>
    		<td>Code Name</td>
    		<td>modDatetime</td>
    	</tr>
    	
    	<tr th:if="${!#lists.isEmpty(list)}" >
    		<td colspan="8">데이터 없음</td>
    	</tr>
	
    	<tr th:if="${!#lists.isEmpty(list)}" th:each="list:${list}"> 
    	    <td></td>
    		<td></td>
    		<td th:text="${list.CodeGroupSeq}"></td>
    		<td th:text="${list.CodeGroupName}"></td>
     		<td th:if="${list.delNY eq 0}">N</td>
     		<td th:unless="${list.delNY eq 0}">Y</td>
    		<td th:text="${list.seq}"></td>
    		<td><a th:href="@{/codeView(seq=${list.seq}, name=${list.name}, delNY=${list.delNY})}"  th:text="${list.name}"></a></td>
       		<!-- <td th:text="${list.name}"></td>-->
     		<td th:text="${#dates.format(list.modDatetime,  'yyyy-MM-dd HH:mm:ss')}"></td>
    	</tr>
    </table>
</body>
</html>