
<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupXdmList</title>
</head>
<body>

<p th:text="${item.seq}"></p>
<p th:text="${item.name}"></p>
<!--   <a href="/codeGroupXdmList">이동</a> -->
<a th:href="@{/codeGroupXdmList}" th:text="이동"></a>
<a th:href="@{/codeGroupForm(seq=${item.seq})}"  th:text="수정"></a>
<a th:href="@{/codeGroupXdmList}" th:text="삭제"></a>

<form method="post" action="CodeGroupDelete"> 
<input type="hidden" name="seq" th:value="${item.seq}">
<input type="hidden" name="name" th:value="${item.name}">


	<button type="submit" th:href="@{/CodeGroupXdmList}">Delete</button>
	
	

</form>


<form method="post" action="codeGroupUpdtDel"> 
<input type="hidden" name="seq" th:value="${item.seq}">
<input type="hidden" name="name" th:value="${item.name}">
<input type="hidden" name="delNY" th:value="${item.delNY}">


	<button type="submit" th:href="@{/CodeGroupXdmList}">Uelete</button>

</form>
</body>
</html>