
<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupForm</title>
</head>
<body>

	<form method="post" action="codeUpdate">

		<input type="text" name="seq" th:value="${item.seq}">
		<input type="text" name="name" th:value="${item.name}" >
		<input type="text" name="${CodeGroupSeq}">

		<button type="submit" th:href="@{/CodeXdmList}">저장</button>

	</form>

</body>
</html>