<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<th:block th:fragment="SideBar">
        
			<div class="container account-container custom-account-container">
				<div class="row">
					<div class="sidebar widget widget-dashboard mb-lg-0 mt-3 mb-2 col-lg-2 order-0">
						<h4 class="text-uppercase" >My Account</h4>
						<ul class="nav nav-tabs list flex-column mb-0" role="tablist">
							<li class="nav-item">
								<a class="nav-link" id="dashboard-tab"  th:href="@{/MyPage/Dashboard}" 
									role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="order-tab" th:href="@{/MyPage/Orders}" >Orders</a>
							</li>

<!-- 							<li class="nav-item"> -->
<!-- 								<a class="nav-link" id="address-tab" th:href="@{/MyPage/Address}" >Addresses</a> -->
<!-- 							</li> -->

							<li class="nav-item">
								<a class="nav-link" id="account-tab" th:href="@{/MyPage/AccountSettings}">Account Settings</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/MyPage/Wishlist}">Wishlist</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/logoutUsr}" >Logout</a>
							</li>
						</ul>
					</div>
</th:block>


</html>