<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="SideBar">

			<!-- Sidebar wrapper start -->
			<nav class="sidebar-wrapper">

				<!-- Sidebar brand starts -->
				<div class="sidebar-brand">
					<a th:href="@{/index}" class="logo">
						<img src="/usr/images/logo-tape.png" alt="Admin Dashboards"/>
					</a>
				</div>
				<!-- Sidebar brand starts -->

				<!-- Sidebar menu starts -->
				<div class="sidebar-menu">
					<div class="sidebarMenuScroll">         
						<ul>
							<!--  코드 그룹 관리 -->
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-sd-card"></i>
									<span class="menu-text">CodeGroup</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li th:class="${index == 0} ? 'active current-page'">
											<a  th:href="@{/CodeGroupList}" >CodeGroup List</a>
										</li>
										<li th:class="${index == 1} ? 'active current-page'">
											<a  th:href="@{/AddCodeGroup}" >Add CodeGroup</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-sim"></i>
									<span class="menu-text">Code</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li th:class="${index == 2} ? 'active current-page'">
											<a  th:href="@{/CodeList}" >Code List</a>
										</li>
										<li th:class="${index == 3} ? 'active current-page'">
											<a  th:href="@{/AddCode}" >Add Code</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-person-badge"></i>
									<span class="menu-text">Members</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li th:class="${index == 4} ? 'active current-page'">
											<a  th:href="@{/MemberList}" >Member List</a>
										</li>
										<li th:class="${index == 5} ? 'active current-page'">
											<a  th:href="@{/AddMember}" >Add Member</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-upc"></i>
									<span class="menu-text">Products</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li th:class="${index == 6} ? 'active current-page'">
											<a  th:href="@{/ProductList}" >Product List</a>
										</li>
										<li th:class="${index == 7} ? 'active current-page'">
											<a  th:href="@{/AddProduct}" >Add Product</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- Sidebar menu ends -->

			</nav>
			<!-- Sidebar wrapper end -->
			
</th:block>
</html>