<!doctype html>
<html lang="en">


<!-- Head th:block 구문 -->
<div th:replace="~{/adm/infra/v1/include/AddHead :: AddHead}"></div>


<body>

	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- SideBar th:block 구문 -->
		<div th:replace="~{adm/infra/v1/include/SideBar :: SideBar}"></div>
		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">
				<!-- Page header starts -->
				<div class="page-header">

					<div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
							<a href="index.html">Home</a>
						</li>
						<li class="breadcrumb-item">Code</li>
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Add Code</li>
					</ol>
					<!-- Breadcrumb end -->
					
			<!-- Header th:block 구문 -->
			<div th:replace="~{adm/infra/v1/include/Header :: Header}"></div>
			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<div class="header" style="padding-left: 1%; padding-bottom: 3%">
					<h4>Add Code</h4>
				</div>

				<!-- Content wrapper start -->
				<div class="content-wrapper">
					<form name="formInsert" id="formInsert" method="post"
						action="codeInsert">
						<!-- Row start -->
						<div class="row">
							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<label for="CodeGroupSeq" class="form-label">Code
											Group</label> <select class="form-select" id="CodeGroupSeq"
											name="CodeGroupSeq">
											<option selected="" disabled="" value="">Choose...</option>
											<option
												th:each="listCodeGroup : ${@codeGroupService.selectListWithoutPaging()}"
												th:value="${listCodeGroup.seq}"
												th:text="${listCodeGroup.name}"></option>
										</select>
										<div class="invalid-feedback" id="CodeGroupSeqFeedback"></div>
									</div>
								</div>
							</div>

							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<label for="delNY" class="form-label">DelNY</label> <select
											class="form-select" id="delNY" name="delNY">
											<option selected="" disabled="" value="">Choose...</option>
											<option value="0">N</option>
											<option value="1">Y</option>
										</select>
										<div class="invalid-feedback" id="delNYFeedback"></div>
									</div>
								</div>
							</div>

							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<div>
											<label for="name" class="form-label">Code Name</label> <input
												type="text" id="name" class="form-control" name="name">
											<div class="invalid-feedback" id="nameFeedback"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- Row end -->


							<!-- Form actions footer start -->
							<div class="form-actions-footer">
								<a th:href="@{/CodeList}">
									<button class="btn btn-light">Cancel</button>
								</a>
								<button class="btn btn-success" type="submit"
									th:href="@{/CodeList}" id="btnInsert">Submit</button>
							</div>
							<!-- Form actions footer end -->
					</form>
				</div>
				<!-- Content wrapper end -->

				<!-- App Footer start -->
				<div class="app-footer">
					<span>© Arise admin 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- Content wrapper scroll end -->

		</div>
		<!-- *************
				************ Main container end *************
			************* -->

	</div>
	<!-- Page wrapper end -->

	<!-- *************
			************ Required JavaScript Files *************
		************* -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="/adm/js/jquery.min.js"></script>
	<script src="/adm/js/bootstrap.bundle.min.js"></script>
	<script src="/adm/js/modernizr.js"></script>
	<script src="/adm/js/moment.js"></script>
	<script src="/adm/js/validationXdm.js"></script>

	<!-- *************
			************ Vendor Js Files *************
		************* -->

	<!-- Overlay Scroll JS -->
	<script
		src="/adm/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script src="/adm/vendor/overlay-scroll/custom-scrollbar.js"></script>

	<!-- Main Js Required -->
	<script src="/adm/js/main.js"></script>

	<script type="text/javascript">
		/* 		window.addEventListener('load', function() {
		 $("#shDateStart, #shDateEnd").datepicker();
		 }); */
		let goUrlXdmList = "/CodeList"; /* ### */
		let goUrlXdmForm = "/CodeAdd"; /* ### */
		/* 		let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupXdmMultiUele";			
		 let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupXdmMultiDele";	 */
		let goUrlXdmView = "/CodeView"; /* ### */

		let seq = document.querySelector("input[name=seq]");

		let form = document.querySelector("form[name=formInsert]");

		document.getElementById("btnInsert").onclick = function() {
			location.href = goUrlXdmList;
		}

		/* 	document.getElementById("btnForm").onclick = function () {
		 goForm(0);
		 }
		 */

		/* 	goForm = function (keyValue) {
		 seq.value = keyValue;
		 form.action = goUrlXdmForm;
		 form.submit();
		 } */

		/* document.getElementById("btnSearch").onclick = function () {
		    form.action = goUrlXdmList;
		    form.submit();
		};
		 */

		// 등록버튼
		document.getElementById("btnInsert").onclick = function() {
			if (validationInst() == false) {
				return false;
			} else {
				form.action = goUrlXdmInstForm
				form.submit();
			}
		}
		function validationInst() {
			if (validationUpdt() == false) {
				return false;
			}
		}

		function validationUpdt() {

			if (!checkSelectNull('CodeGroupSeq', 2, "코드그룹을 선택해 주세요."))
				return false;
			if (!checkSelectNull('delNY', 2, "삭제 여부를 선택해 주세요."))
				return false;
			if (!checkOnlyEnglishNumber('name', 2, 0,
					"제품 이름은 영문대소문자, 숫자만 입력 가능합니다."))
				return false;

			/* if(!checkOnlyEnglishNumber('ifcdSeqAnother', 2, 1, "코드 (Another)는 영대소문자, 숫자만 입력 가능합니다.")) return false;
			if(!checkOnlyEnglishNumber('ProductName', 2, 0, "제품 이름은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
			if(!checkOnlyEnglishNumber('ifcdNameEng', 2, 1, "코드 이름 (영문)는 영대소문자, 숫자만 입력 가능합니다.")) return false;
			if(!checkOnlyNumber('ifcdOrder', 2, 0, 1, 0, 255, "순서는 숫자(0~255)만 입력 가능합니다.")) return false;
			if(!checkOnlyEnglishNumber('ifcdReferenceV1', 2, 1, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
			if(!checkOnlyEnglishNumber('ifcdReferenceV2', 2, 1, "예비2 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
			if(!checkOnlyEnglishNumber('ifcdReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
			if(!checkOnlyEnglishNumber('ifcdReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;		
			if(!checkOnlyNumber('ifcdReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
			if(!checkOnlyNumber('ifcdReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
			if(!checkOnlyNumber('ifcdReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
			if(!checkOnlyNumber('ifcdReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false; */
		}
	</script>

</body>

</html>