<!doctype html>
<html lang="en">

<div th:replace="~{/adm/infra/v1/include/ListHead :: ListHead}"></div>

	<body>

		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

		<div th:replace="~{/adm/infra/v1/include/SideBar :: SideBar}"></div>

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

			<div th:replace="~{/adm/infra/v1/include/Header 	 :: Header}"></div>


				<!-- Content wrapper scroll start -->
				
				
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">

								<!-- Card start -->
								<div class="card">
									<div class="card-body">
									
						<div class="row">
							<div class="col-sm-12 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">코드  관리</div>
									</div>
									
									
									<div class="row mb-3 ms-2 me-2">
										<form name="formList" id="formList" method="post" autocomplete="off">
										
											<!-- search s -->
											<div id="divSearch" class="container-fluid px-0 pb-3">
												<div class="row row-cols-2 row-cols-sm-6 g-2 px-2">
													<div class="col">
														<select id="shDelNy" name="shDelNy" class="form-select form-select-sm">
															<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
															<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
															<option value="0" th:selected="${vo.shDelNy == 0}">N</option>            
														</select>
													</div>
													<div class="col">
														<select class="form-select" name="shDelNy" id="shDelNy">
															<option value="" th:selected="${vo.shDelNy == null}">사용여부</option>
															<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
															<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
												</select>
											</div>			
													<div class="col">
														<select id="shOptionDate" name="shOptionDate" class="form-select form-select-sm">
															<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
															<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
															<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
														</select>
													</div>  
													<div class="col">
														<input type="text" id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" placeholder="시작일" class="form-control form-control-sm" autocomplete="off">
													</div>              
													<div class="col">
														<input type="text" id="shDateEnd" name="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="종료일" class="form-control form-control-sm" autocomplete="off">
													</div> 
												</div>
												<div class="row row-cols-2 row-cols-sm-6 g-2 mt-1 px-2">
													<div class="col">
														<select id="shOption" name="shOption" class="form-select form-select-sm">
															<option value="" th:selected="${vo.shOption == null}">검색구분</option>
															<option value="1" th:selected="${vo.shOption == 1}">코드 시퀀스</option>
															<option value="2" th:selected="${vo.shOption == 2}">코드 이름</option>
														</select>
													</div>                    
													<div class="col">
														<input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm">
														<div class="invalid-feedback" id="shValueFeedback"></div>
													</div> 
													<div class="col">
														<button type="button" id="btnSearch" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
														<button type="button" id="btnReset" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-rotate-right fa-lg"></i></button>
													</div>    
												</div>
											</div>
											<!-- search e -->	
										
										</form>
									</div>
									 <div class="row mb-3">
									 	<div class="col">
									 		<a th:href="@{/CordersAdd}" >
									 		<button type="button" class="btn btn-outline-primary">등록</button>
									 		</a>
									 	</div>
									 	<div class="col-1">
										    <select id="pageSizeSelect" class="select-single js-states form-control" title="Select Product Category" data-live-search="true">
										        <option value="5">5</option>
										        <option value="10">10</option>
										        <option value="25">25</option>
										        <option value="50">50</option>
										        <option value="100">100</option>
										    </select>
									 	</div>
									 </div>

	
												    
				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper" >
																
						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">
								
										<div class="table-responsive mt-2">
										<table class="table v-middle" style="table-layout:fixed;" >
									    	<tr>
									    		<td>
									    			<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
													</div>
									    		</td>
									    		<td>#</td>
									    		<td>CodeGroupSeq</td>
									    		<td>CodeGroup Name</td>
									    		<td>DelNY</td>
									    		<td>CodeSeq</td>
									    		<td>Code Name</td>
									    		<td>regDatetime</td>
									    		<td>modDatetime</td>
									    		
									    	</tr>
									    	
									    	<tr th:if="${!#lists.isEmpty(list)}" >
									    		<td colspan="9"></td>
									    	</tr>
										
									    	<tr th:if="${!#lists.isEmpty(list)}" th:each="list:${list}"> 
									    	    <td>
									    	    	<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
													</div>
									    	    </td>
									    		<td></td>
									    		<td th:text="${list.CodeGroupSeq}"></td>
									    		<td th:text="${list.CodeGroupName}"></td>
									     		<td th:if="${list.delNY eq 0}">N</td>
									     		<td th:unless="${list.delNY eq 0}">Y</td>
									    		<td th:text="${list.seq} " ></td>
									    		<td><a th:href="@{/CordersView(seq=${list.seq}, name=${list.name}, delNY=${list.delNY})}"  th:text="${list.name}"></a></td>
									       		<!-- <td th:text="${list.name}"></td>-->
									       		<td th:text="${#dates.format(list.regDatetime,  'yyyy-MM-dd HH:mm:ss')}"></td>
									     		<td th:text="${#dates.format(list.modDatetime,  'yyyy-MM-dd HH:mm:ss')}"></td>
									    	</tr>
									    </table>
										</div>
									</div>
								</div>
											
<nav aria-label="Page Navigation">

<div class="row">
    <ul class="pagination justify-content-center mt-5">
        <li class="page-item">
            <a class="page-link" href="#" onclick="prevPage()" aria-label="Previous">
                <span aria-hidden="true">
                    <i class="bi bi-arrow-left"></i>
                </span>
            </a>
        </li>
        <!-- 이 부분은 자바스크립트로 동적으로 생성됩니다 -->
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <!-- 예시로 1부터 5까지만 표시합니다 -->
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <!-- 이 부분은 자바스크립트로 동적으로 생성됩니다 -->
        <li class="page-item">
            <a class="page-link" href="#" onclick="nextPage()" aria-label="Next">
                <span aria-hidden="true">
                    <i class="bi bi-arrow-right"></i>
                </span>
            </a>
        </li>
    </ul>
</div>

    <div class="row">
        <div class="col-1" style="float: left;">
            <span class="me-2">
                <a class="btn btn-primary btn-m" href="#" th:href="@{/CordersAdd}">
                    <i class="bi bi-pencil"></i>
                </a>
            </span>
        </div>
        <div class="col-1" style="float: right; padding-left: 1270px;">
            <span>
                <a class="btn btn-danger btn-icon btn-m mb-1" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-trash"></i>
                </a>
            </span>
        </div>
    </div>
</nav>

								<!-- Card end -->

							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->
				
				
				<!-- Add Modals Here -->
				<div class="modals-placeholder">
				
								<!-- Modal 1 -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">삭제</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									삭제하시겠습니까?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-dark" data-bs-dismiss="modal">닫기</button>
									<button type="submit" class="btn btn-warning"th:href="@{/orders}" th:text="Uelete"></button>
									<button type="submit" class="btn btn-danger" th:href="@{/orders}" th:text="Delete"></button>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/adm/js/jquery.min.js"></script>
		<script src="/adm/js/bootstrap.bundle.min.js"></script>
		<script src="/adm/js/modernizr.js"></script>
		<script src="/adm/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/adm/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/adm/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Data Tables -->
		<script src="/adm/vendor/datatables/dataTables.min.js"></script>
		<script src="/adm/vendor/datatables/dataTables.bootstrap.min.js"></script>

		<!-- Custom Data tables -->
		<script src="/adm/vendor/datatables/custom/custom-datatables.js"></script>

		<!-- Main Js Required -->
		<script src="/adm/js/main.js"></script>
		
		
		<script type="text/javascript">

	window.addEventListener('load', function() {
			$("#shDateStart, #shDateEnd").datetimepicker();
	}); 
	
	let goUrlXdmList = "/Corders";								/* ### */
	let goUrlXdmForm = "/v1/infra/code/CordersForm";								/* ### */
	let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupXdmMultiUele";			/* ### */
	let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupXdmMultiDele";			/* ### */
	let goUrlXdmView = "/v1/infra/codegroup/codeGroupXdmView";								/* ### */
	
	let seq = document.querySelector("input[name=ifcgSeq]");									/* ### */

	document.getElementById("btnReset").onclick = function () {
	    location.href = goUrlXdmList;
	}

/* 	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	}
 */

	goForm = function (keyValue) {
	    seq.value = keyValue;
	    form.action = goUrlXdmForm;
	    form.submit();
	}
	
	document.getElementById("btnSearch").onclick = function () {
	    form.action = goUrlXdmList;
	    form.submit();
	};
	
	let form = document.querySelector("form[name=formList]");
	</script>
	
	<!-- 강사님 데이터 피커 -->
<!--데이터피커 자바스크립트 구문-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#shDateStart, #shDateEnd").datetimepicker({
                    format: "Y-m-d",
                    timepicker:false,
                });
            });
        </script>

	<!-- Date Range JS -->
	<!-- 
	<script src="/adm/vendor/daterange/daterange.js"></script>
	<script src="adm/vendor/daterange/custom-daterange.js"></script>
 -->

	</body>

</html>