<!doctype html>
<html lang="en">

<!-- Head th:block 구문 -->
<div th:replace="~{adm/infra/v1/include/AddHead :: AddHead}"></div>

	<body>

		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

		<div th:replace="~{adm/infra/v1/include/SideBar :: SideBar}"></div>
		
			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div class="page-header">

					<div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
							<a href="index.html">Home</a>
						</li>
						<li class="breadcrumb-item">Product</li>
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Add Product</li>
					</ol>
					<!-- Breadcrumb end -->
					<div th:replace="~{adm/infra/v1/include/Header :: Header}"></div>
						
				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">
				
				<div class="header" style="padding-left : 1%; padding-bottom : 3%">
					<h4>Add Product</h4>
				</div>

					<!-- Content wrapper start -->
					<div class="content-wrapper" >
						<!-- Row start -->
						<div class="row">
							
							<div class="col-xl-4 col-sm-6 col-12" >
								<div class="card">
									<div class="card-body">
										<div>
											<label for="productSeq" class="form-label">ProductSeq<span class="text-danger fs-0">*</span></label>
												<input type="text" class="form-control" id="productSeq"  th:value="${item?.productSeq}" required="" disabled>
												<div class="invalid-feedback" id="prodOrgPriceFeedback"></div>
										</div>
									</div>
								</div>
							</div>
														
							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<label for="delNY" class="form-label">DelNY<span class="text-danger fs-0">*</span></label>
										<select class="form-select" id="delNY" required="">
											<option  th:selected="${item.delNY eq null}"disabled="" value="">Choose...</option>
											<option th:selected="${item.delNY == 0}"value="0">N</option>
											<option th:selected="${item.delNY == 1}" value="1">Y</option>
										</select>
										<div class="invalid-feedback" id="delNYFeedback"></div>
									</div>
								</div>
							</div>
<!-- 							
							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<div>
											<label for="ProductName" class="form-label">ProductName<span class="text-danger fs-0">*</span></label>
											<input type="text" id="ProductName"  class="form-control" name="ProductName"  required="required"  th:value="${item.ProductName}">
											<div class="invalid-feedback" id="ProductNameFeedback"></div>
										</div>
									</div>
								</div>
							</div>
							 -->
							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<label for="ProductName" class="form-label">ProductName <span class="text-danger fs-0">*</span></label>
											<input type="text" id="ProductName" name="ProductName" th:value="${item?.ProductName}" maxlength="20" class="form-control" required=""/>
											<div class="invalid-feedback" id="ProductNameFeedback"></div>
									</div>
								</div>
							</div>

						</div>
						<!-- CD 입력 input 부분, DelNY 부분은 select로 대체 가능한지 여쭤보기 / select 값 code seq 번호로 변환하는 방법 서치 -->
						<div class="row" th:fragment="productCD">
							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<label for="prodStockCD" class="form-label">Product Status(CD)<span class="text-danger fs-0">*</span></label>
										<select class="form-select" id="productCD" required="">
											<option disabled="" value="" th:selected="${item.prodStockCD eq null}">Choose...</option>
											<option value="7" th:selected="${item.prodStockCD == 7}" >New</option>
											<option value="8" th:selected="${item.prodStockCD == 8}" >Best</option>
											<option value="9" th:selected="${item.prodStockCD == 9}" >Restock</option>
											<option value="10" th:selected="${item.prodStockCD == 10}" >N/A</option>
										</select>
										<div class="invalid-feedback" id="prodStockCDFeedback"></div>
									</div>
								</div>
							</div>

							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<label for="categoryCD" class="form-label">Category(CD)</label>
										<select class="form-select" id="categoryCD" name="categoryCD">
											<option th:selected="${item.categoryCD == null}"  disabled="" value="">Choose...</option>
											<option value="11" th:selected="${item.categoryCD == 11}"  >Outer</option>
											<option value="12" th:selected="${item.categoryCD ==12}"  >Top</option>
											<option value="13" th:selected="${item.categoryCD == 13}"  >Bottom</option>
											<option value="14" th:selected="${item.categoryCD == 14}"  >Dress</option>
											<option value="15" th:selected="${item.categoryCD == 15}">Bag(15)</option>
											<option value="16" th:selected="${item.categoryCD == 16}">Shoes</option>
											<option value="17" th:selected="${item.categoryCD == 17}">Acc</option>
											<option value="18" th:selected="${item.categoryCD == 18}">etc.</option>
										</select>
											<div class="invalid-feedback" id="categoryCDFeedback">
										</div>
									</div>
								</div>
							</div>
			
						<div class="row">
						<th:block th:fragment="productprice">
							<div class="col-xl-4 col-sm-6 col-12" style="width : 490px;">
								<div class="card">
									<div class="card-body">
										<div>
											<label for="OrgPrice" class="form-label">Product Org Price<span class="text-danger fs-0">*</span></label>
												<input type="text" class="form-control" name="OrgPrice" id="OrgPrice" required="" th:value="${item.OrgPrice}">
												<div class="invalid-feedback" id="OrgPriceFeedback"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-4 col-sm-6 col-12" style="width : 490px;">
								<div class="card">
									<div class="card-body">
										<div>
											<label for="DiscountedPrice" class="form-label">Product Discounted Price</label>
												<input type="text" class="form-control" name="DiscountedPrice" id="DiscountedPrice" th:value="${item.DiscountedPrice}">
												<div class="invalid-feedback" id="DiscountedPriceFeedback"></div>
										</div>
									</div>
								</div>
							</div>
							</th:block>
						</div>

							<div class="col-xl-4 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<div>
											<label for="DetailDescription" class="form-label">Product Description</label>
												<input type="text" class="form-control" id="DetailDescription" name="DetailDescription" required="" th:value="${item.DetailDescription}">
												<div class="invalid-feedback" id="DetailDescriptionFeedback">Please enter a description of the product</div>
										</div>
									</div>
								</div>
							</div>
						
						<div class="col-xl-4 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div>
										<label for="fabric" class="form-label">Fabric</label>
											<input type="text" class="form-control" id="fabric" name="fabric" required="" th:value="${item.fabric}">
											<div class="invalid-feedback" id="DetailDescriptionFeedback">Please enter a Fabric of the product</div>
									</div>
								</div>
							</div>
						</div>
					
					<div class="col-xl-4 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div>
									<label for="detailSize" class="form-label">Detail Size</label>
										<input type="text" class="form-control" id="detailSize" name="detailSize" required="" th:value="${item.detailSize}">
										<div class="invalid-feedback" id="detailSizeFeedback">Please enter a description of the product</div>
								</div>
							</div>
						</div>
					</div>


						<!-- Form actions footer start -->
						<div class="form-actions-footer">
							<a  th:href="@{/ProductList}" >
								<button class="btn btn-light">Cancel</button>
							</a>

							<button class="btn btn-success" type="submit" th:href="@{/ProductList}">Submit</button>
						</div>
										<!-- Form actions footer end -->
					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/adm/js/jquery.min.js"></script>
		<script src="/adm/js/bootstrap.bundle.min.js"></script>
		<script src="/adm/js/modernizr.js"></script>
		<script src="/adm/js/moment.js"></script>
		<!--  Validation JS -->
		<script src="/adm/js/validationXdm.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/adm/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/adm/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Main Js Required -->
		<script src="/adm/js/main.js"></script>
		
		<script type="text/javascript">
	
/* 		window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datepicker();
		}); */
		
		let goUrlXdmList = "/ProductList";								/* ### */
		let goUrlXdmForm = "/AddProduct";								/* ### */
		let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupXdmMultiUele";			/* ### */
		let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupXdmMultiDele";			/* ### */
		let goUrlXdmView = "/PordersView";								/* ### */
		
		let seq = document.querySelector("input[ProductName=productSeq]");									/* ### */
	
		document.getElementById("btnSubmit").onclick = function () {
		    location.href = goUrlXdmList;
		}

/* 	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	}
 */

	goForm = function (keyValue) {
	    seq.value = keyValue;
	    form.action = goUrlXdmForm;
	    form.submit();
	}
	
	/* document.getElementById("btnSearch").onclick = function () {
	    form.action = goUrlXdmList;
	    form.submit();
	};
	 */
	 
	let form = document.querySelector("form[name=formList]");
	
	</script>
	
<script>
    document.getElementById("btnSubmit").onclick = function() {
        if(validationInst() == false) {
            return false;
        } else {
            form.action = goUrlXdmList;
            form.submit();
        }
    }
    
    function validationInst() {
        if(validationUpdt() == false) {
            alert("웩");
            return false;
        } 
        // 추가적인 유효성 검사를 수행하고 필요한 경우 false를 반환
        return true;
    }
    
    function validationUpdt(){
        if(!nullToEmpty(document.getElementById("ProductName").value)) {
            alert("너 데이터 없음");
            return false;
        }
        // 필요한 유효성 검사를 수행하고 필요한 경우 false를 반환
        return true;
    }
    
    function nullToEmpty(value){
        if(value == null || value == 'null' || value.length == 0){
            return false;
        } else{
            return true;
        }
    }
</script>
	
	<!-- validation function -->
	<script>
	function ProductUpdate() {
		if(!checkSelectNull('prodSize', 2, "Please select the product sizes")) return false;
		if(!checkSelectNull('prodColor', 2, "Please enter the product colors one by one (you can leave the remaining fields blank)")) return false;
		if(!checkSelectNull('prodDelNY', 2, "Please choose whether to delete the product")) return false;
		if(!checkSelectNull('productCD', 2, "Please enter the product status using the code number")) return false;
		if(!checkSelectNull('category2CD', 2, "If the product category is clothing, Please enter the Category1 using the code number")) return false;
		if(!checkOnlyNumber('prodOrgPrice', 2, 0, 1, 0, 1000000, "Please enter the cost of the product")) return false;
		if(!checkOnlyNumber('prodDiscPrice', 2, 0, 1, 0, 1000000, "Please enter how much the product is discounted")) return false;
		if(!checkOnlyKoreanEnglishNumber('ProductName', 2, 0, "Please enter product name")) return false;
		if(!checkOnlyKoreanEnglishNumber('prodDetails', 2, 1, "Please enter a description of the product")) return false;
		
	/* 	if(!checkOnlyNumber('ifcdOrder', 2, 0, 1, 0, 255, "순서는 숫자(0~255)만 입력 가능합니다.")) return false;
		if(!checkOnlyEnglishNumber('ifcdReferenceV1', 2, 1, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
		if(!checkOnlyEnglishNumber('ifcdReferenceV2', 2, 1, "예비2 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
		if(!checkOnlyEnglishNumber('ifcdReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
		if(!checkOnlyEnglishNumber('ifcdReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;		
		if(!checkOnlyNumber('ifcdReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
		if(!checkOnlyNumber('ifcdReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
		if(!checkOnlyNumber('ifcdReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
		if(!checkOnlyNumber('ifcdReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false; */
	}
	</script>

	</body>

</html>